  <script>
        $(document).ready(function(){
            $("#predictionIndexToggle").click(function(){
              $('#divGameIndex').hide(750)
              $('#divPredictorIndex').hide(750)
              $('#divPredictionIndex').show(750)
            });
        });
  </script>

  <script>
        $(document).ready(function(){
            $("#gameIndexToggle").click(function(){
              $('#divPredictionIndex').hide(750)
              $('#divPredictorIndex').hide(750)
              $('#divGameIndex').show(750)
            });
        });
  </script>

    <script>
        $(document).ready(function(){
            $("#predictorIndexToggle").click(function(){
              $('#divPredictionIndex').hide(750)
              $('#divGameIndex').hide(750)
              $('#divPredictorIndex').show(750)
            });
        });
  </script>

<div class = "user-dashboard-prediction-nav">

	<ul class="dashboard-prediction-nav">
		
		<%unless @subaction == "games" or @subaction == "top" %>
			<li class="active"><a id= "predictionIndexToggle">Recent Predictions</a></li>
		<%else%>
			<li><a id= "predictionIndexToggle">Recent Predictions</a></li>
		<%end%>

		<%if @subaction == "games"%>
			<li class="active"><a id= "gameIndexToggle">All Games</a></li>
		<%else%>
			<li><a id= "gameIndexToggle">All Games</a></li>
		<%end%>

		<%if @subaction == "top"%>
			<li class="active"><a id= "predictorIndexToggle">All Experts</a></li> 
		<%else%>
			<li><a id= "predictorIndexToggle">All Experts</a></li>
		<%end%>

	</ul>

</div>