<div class = "cover-wrap">

  <div class="cover-container">

    <h3><%= image_tag @team.image, class: "team-image-tiny"%><%=link_to @team.name, teamshow_path(@league,@team.id), class: "game-team-name" %></h3> 

  </div>

</div>
