<div class = "cover-wrap">

  <div class="cover-container">

    <h3><%= image_tag @team.image.url(:medium, :width => 30, :height => 30), class: "sport-image-small"%><%=@team.name%></h3> 

  </div>

</div>
