<%= render 'pages/league_home_header' %>

<div class = "content-container">

	<div class="content-panel">

		<div class ="article-title-header">
			<h3>Posts About <%=@team.name%> Games</h3>
			<h5><%= link_to @team.name + " Home »", teamshow_path(@league,@team.id) %></h5>
		</div>

		<%= render 'predictors/predictorarticleindex' %>
		
	</div>
	
</div>
