<script>
    $(document).ready(function(){
      $("#experts").addClass("active");
    });
</script>

<%= render 'teams/teamshowcover'%>

<div class="content-panel">

  <div class="content-panel-container">
    <h1><%=@team.name%> Experts</h1>

  </div>

</div>
