<script>
    $(document).ready(function(){
      $("#predictions").addClass("active");
    });
</script>

<%= render 'teams/teamshowcover'%>

<div class = "content-container">

	<div class="content-panel">

		<div class ="content-title-header">
			<h3>Picks for <%=@team.name%>'s Games</h3>
			<h5><%= link_to @team.name + " Home »", teamshow_path(@league,@team.id) %></h5>
		</div>

		<%= render 'prediction_games/index' %>

		<%# render 'prediction_games/indexshow' %>
		
	</div>
	
</div>
