<script>
    $(document).ready(function(){
      $("#teams").addClass("active");
    });
</script>

<%= render 'sports/sportshowcover' %>

<div class="content-panel">

  <div class="content-panel-container">
    <h1><%=@league%> Teams</h1>

  </div>

</div>
