<script>
    $(document).ready(function(){
      $("#teams").addClass("active");
    });
</script>

<%= render 'sports/sportshowcover' %>

<div class="content-panel">

  <div class="content-panel-container">
    <h1><%= image_tag @team.image, class: "team-image-tiny"%><%=@team.name%> Schedule</h1>

  </div>

</div>
