<script>
    $(document).ready(function(){
      $("#schedule").addClass("active");
    });
</script>

<%= render 'teams/teamshowcover' %>

<div class="content-panel">

  <div class="content-panel-container">
    <h1><%=@team.name%> Schedule</h1>

  </div>

</div>
