
<div class = "home-wrap">

	<div class = "home-content">

		<div class="typeselect-wrap">

			<h1>
				Select Prediction Category
			</h1>


				<div class="sportswrap">

		            <img width="250" height="315" src="https://s3.amazonaws.com/ProjectPhoenix/Textlogo.png" alt="">

		            <div class="typeselect-cta">

		            	<%= link_to "Make a Sports Prediction", sportsprediction_path %>

		            </div>

		        </div>

		        <div class="financewrap">
		            <img width="250" height="315" src="https://s3.amazonaws.com/ProjectPhoenix/Textlogo.png" alt="">

		            <div class="typeselect-cta">

		            	<%= link_to "Make a Finance Prediction", financeprediction_path %>

		            </div>


		        </div>
		        
		        <div class="miscwrap">
		            <img width="250" height="315" src="https://s3.amazonaws.com/ProjectPhoenix/Textlogo.png" alt="">

		            <div class="typeselect-cta">

		            	<%= link_to "Make a Miscellaneous Prediction", miscprediction_path %>

		            </div>

		        </div>

		</div>

	</div>

</div>