<%if @articles.count == 0 %>
	<div class="prediction-index-header-text">
		<p>No Posts</p>
	</div>

<%else%>

	<table class ="prediction-index-fold">

	  <tbody>

	      <% @articles.each do |article| %>

	      	<% @predictor = Predictor.find(article.predictor_id) %>

	      	<% @game = Game.find(article.event_id) %>

	        <tr data-link="<%=predictorarticleshow_path(@predictor.username,article.id)%>", class="prediction-table-row">

	            <td> <%= image_tag @predictor.image.url(:medium), class: "predictor-image-tiny"%> <a class="index-float"><b><%= @predictor.username %></b></a></td>

	            <td>
	            	<%= article.title %>
	            	<br>
	            	<%=article.body %>
	            </td>

	            <td>Posted on: <%= article.created_at.strftime("%D") %>
	            	<br>
	            	Game Date: <%= @game.event_time.strftime("%D") %></td>

	          <% unless @matchup_hide %>
	            <td class="index-matchup"><a class="index-float"><%= @game.teama %></a><%= image_tag Team.find_by_name(@game.teama).image.url(:medium), class: "predictor-image-tiny"%> <b>@</b> <%= image_tag Team.find_by_name(@game.teamh).image.url(:medium), class: "predictor-image-tiny"%> <a class="index-float"><%= @game.teamh%></a></td>
	          <% end %>
	        </tr>

	      <%end%>

	  </tbody>

	</table>

<% end%>