<%if @articles.count == 0 %>
	
	<table class ="prediction-index-fold">

		<tbody>
		  	<tr>
				<td class="no-active-games"> No Posts </td>

			</tr>
		</tbody>
	</table>
	

<%else%>

	<table class ="prediction-index-fold">

	  <tbody>

	      <% @articles.each do |article| %>

	      	<% @predictor = Predictor.find(article.predictor_id) %>

	      	<% @game = Game.find(article.event_id) %>

	        <tr data-link="<%=predictorarticleshow_path(@predictor.username,article.id)%>", class="prediction-table-row">

	            <td> <%= image_tag @predictor.image.url(:medium), class: "predictor-image-tiny"%> <a class="index-float"><b><%= @predictor.username %></b></a></td>

	            <td class="article-index-title">
	            	<b><%= article.title %></b>
	            	<br>
	            	<%=article.body %>
	            </td>

	            <td>Posted on: <%= article.created_at.strftime("%D") %>
	            	<br>
	            	Game Date: <%= @game.event_time.strftime("%D") %></td>

	          <% unless @matchup_hide %>
		            <td class="index-matchup"><%= image_tag Team.find_by_name(@game.teama).image.url(:medium), class: "predictor-image-tiny"%><a class="index-float"><%= @game.teama %></a>
	              <br><%= image_tag Team.find_by_name(@game.teamh).image.url(:medium), class: "predictor-image-tiny"%> <a class="index-float"><%= @game.teamh %></a></td>
	          <% end %>
	        </tr>

	      <%end%>

	  </tbody>

	</table>

<% end%>