<div class="predictor-cover">
  
  <div class="predictor-cover-container"> 

    <h1>New Post</h1>

  </div>

</div>

<div class ="select-category-container">

	<div class="select-category">

		<h1>Select Post Category</h1>

		<div class="category-types-container">
		
			<div class="category-types-float">
				
				<a class="no-style" href="<%=root_path%>">
					<div class="category-types-wrap" id="category-types-sports">

						<h3 class="category-types-header">SPORTS</h3>

					</div>
				</a>
				
			</div>

			<div class="category-types-float">

				<a class="no-style" href="<%=root_path%>">
				
					<div class="category-types-wrap" id="category-types-sports">

						<h3 class="category-types-header">FINANCE</h3>

					</div>

				</a>
				
			</div>

			<div class="category-types-float">

				<a class="no-style" href="<%=root_path%>">
				
					<div class="category-types-wrap" id="category-types-sports">

						<h3 class="category-types-header">FANTASY SPORTS</h3>

					</div>

				</a>
				
			</div>

			<div class="category-types-float">

				<a class="no-style" href="<%=root_path%>">
				
					<div class="category-types-wrap" id="category-types-sports">

						<h3 class="category-types-header">ECONOMICS</h3>

					</div>

				</a>
				
			</div>
	
		</div>


	</div>


</div>
