<%= render 'pages/league_home_header' %>

<div class="content-panel">

	<%=render 'games/gameshowcover'%>

	<div class="article-top">
		<%= render 'articles/articleshow' %>
	</div>

	<h3><u>Prediction</u></h3>

	<%= render 'prediction_games/predictiongameshowgamedetails'%>

</div>
