
<div class = "content-container">

  <div class="article-panel">

  	<div class="article-top">
    	<%= render 'articles/articleshow' %>
	</div>

    <h3>Predicition:</h3>
    <%= render 'prediction_games/predictiongameshowgamedetails'%>

  </div>

  <div class="side-panel">
  	<% if predictor_signed_in? %>
    	<%= render 'predictors/predictorcard' %>
    <% end %>
    
  </div>
  
</div>
