<div class="content-panel">

	<div class="article-top">
		<%= render 'articles/articleshow' %>
	</div>

	<h3 class="article-prediction-header"><u>Prediction</u></h3>

	Header

	<% @article.prediction_games.each do |prediction|%>
		here
		<%= prediction.id%>
		<%= prediction.teama_score%>
	<%end%>

</div>
