<div class = "header_image_banner_container">

  <div class = "header_image_banner_inner">
    <h1><%=@league%> Predictions</h1>
  </div>

  <%= image_tag @sport.banner_image.url, class: "header-img" %> 

</div>
