// This is a manifest file that'll be compiled into application.html, which will include all the files
// listed below.
//
// Any web component HTML file within this directory or vendor/assets/components, if any,
// can be referenced here using a relative path.
//
//= require polymer/polymer
// require iron-behaviors/iron-button-state
// require iron-behaviors/iron-control-state
// require iron-collapse/iron-collapse
// require iron-dropdown/iron-dropdown
// require iron-form/iron-form
// require iron-form-element-behavior/iron-form-element-behavior
// require iron-pages/iron-pages
// require neon-animation/neon-animation
//= require paper-button/paper-button
// require paper-behaviors/paper-button-behavior
// require paper-behaviors/paper-inky-focus-behavior
//= require paper-card/paper-card
