<div class="category-header-container">

	<div class="category-header predictor-profile">

	  <ul class="category-header-items">

	      <li><a class="category-item" style="<% if @page=="latest"%>color:#36c;<%end%>" href="<%= root_path %>">Latest</a></li>

	      <li><a class="category-item" style="<% if @page=="predictions"%>color:#36c;<%end%>" href="<%= root_path %>">Predictions</a></li>

	      <li><a class="category-item" style="<% if @page=="rating"%>color:#36c;<%end%>" href="<%= root_path %>">Rating</a></li>

	  </ul>

	</div>

</div>