<div class="category-header-container">

	<div class="category-header predictor-profile">

	  <ul class="category-header-items">

	      <li><a class="category-item" style="<% if @page=="posts"%>color:#36c;<%end%>" href="<%= predictordashboard_path(predictor.username) %>">Posts</a></li>

	      <li><a class="category-item" style="<% if @page=="predictions"%>color:#36c;<%end%>" href="<%= predictorindexpredictions_path(predictor.username) %>">Predictions</a></li>

	      <li><a class="category-item" style="<% if @page=="rating"%>color:#36c;<%end%>" href="<%= predictor_rating_path(predictor.username) %>">Rating</a></li>

	  </ul>

	</div>

</div>