<div class="edit-side-container">
  <div class="edit-side-content">

  	<ul class="edit-sidebar">
  		<li>My Profile</li>
  		<li><%= link_to "Basic Information", edit_user_registration_path%></li>
  		<li><%= link_to "Add Funds", new_charge_path %></li>
  		<li>Payment Information</li>
  		<li>Cancel Account</li>
  	</ul>

  </div>
</div>