<% if predictor_signed_in?%>

	<% unless predictor.id == current_predictor.id %>

		<% unless predictor.has_follower_active(current_predictor.id) %>

	  		<a class="follow-button" id="<%=predictor.id %>">Follow</a>

	  	<% else %>

	  		<a class="follow-button following" id="<%=predictor.id %>">Following</a>

		<% end %>

	<%else%>

		(You)

	<%end%>

<%else%>

	<a href="<%=new_predictor_session_path%>" class="follow-button-no-js" id="<%=predictor.id %>">Follow</a>

<%end%>
