<% if predictor.onyx_rating.to_i > 0 %>

	<a class="onyx-rating" title="Predictive Accuracy Rating" style="<%= predictor.onyx_rating_category[:style_code] %>" href="<%=predictor_rating_path(predictor.username)%>"><%= predictor.onyx_rating_category[:rating_string] %></a>

<%else%>

	<a class="onyx-rating" title="Predictive Accuracy Rating" href="<%=predictor_rating_path(predictor.username)%>">Unrated</a>

<%end%>