<% if predictor_signed_in? %>
  <%# render 'layouts/header_sub_import' %>
  <%# render 'layouts/header_sub' %>
  <%= render 'layouts/category_header' %>

  <div style="float:right; left:-50%; position: relative;">
  <div class="content-wrap">

      <div class ="main-content">

        <% @articles.each do |article|%>

          <%= render partial: 'articles/summary_index', locals: {article: article, predictor: Predictor.find(article.predictor_id)} %>

        <%end%>

      </div>

		  <div class ="side-panel-content">

        <div class="content-panel sub">

          <%= render 'pages/featured_tags' %>

        </div>

        <div class="side-panel-group">

          

        </div>
			
		  </div>

  </div>

<%end%>

