<% if predictor_signed_in? %>
  <%# render 'layouts/header_sub_import' %>
  <%# render 'layouts/header_sub' %>

  <div style="float:right; left:-50%">
  <div class="content-wrap">

      <div class ="main-content">

        <% @articles.each do |article|%>

          <%= render partial: 'articles/summary_index', locals: {article: article, predictor: Predictor.find(article.predictor_id)} %>

        <%end%>

      </div>

		  <div class ="side-panel-content">
			
			   <%= render 'predictors/transactions' %>

		  </div>

  </div>

<%end%>

