<% if user_signed_in? %>

  <% if @predictor_subscriptions.count == 0 %>
      
    <div class ="prediction-game-index-show empty">

      Follow or subscribe to experts you find interesting to see their predictions in your dashboard.      

    </div>

  <% else %>
  
    <% @predictor_subscriptions.each do |predictor| %>

      <div class ="predictor-card">
        <div class="predictor-card-header">

        </div>

        <div class="predictor-card-body">
          
            <%= image_tag predictor.image.url(:medium), class: "predictor-image-card"%>

            <%= @predictor = predictor %>
            
            <%= render 'predictors/predictor_subscribe_cta' %>

            <br>

            <br>

            <h3><%= link_to predictor.username, predictordashboard_path(predictor.username), class: "predictor-card-name"%> </h3>

            <a class="index-float"><%= predictor.bio %></a>

        </div>

      </div>

    <% end %>

  <%end%>

<% end %>