<% if @predictors.empty? %>

  <div class ="prediction-game-index-show empty">

    Your dashboard is currently empty.  Follow or subscribe to experts you find interesting to see their predictions in your dashboard.      

  </div>

<% else %>

  <% @predictors.each do |predictor| %>
      
      <div class ="prediction-game-index-show">
        
        <%= predictor.id %>

      </div>

  <%end%>

<%end%>
