<% if @predictors.empty? %>

  <div class ="prediction-game-index-show empty">

    Your dashboard is currently empty.  Follow or subscribe to experts you find interesting to see their predictions in your dashboard.      

  </div>

<% else %>

  <% @predictors.each do |predictor| %>

  	<a href = "<%= predictordashboard_path(predictor.username)%>", class ="game-show-link" >

		<div class ="prediction-game-index-show">

			<%= image_tag predictor.image.url(:medium), class: "predictor-image-tiny"%> <%= predictor.username %>

		</div>

	</a>

  <%end%>

<%end%>
