<% if user_signed_in?%>

  	<% unless current_user.subscribed(@predictor.id) %>

		<% if current_user.paymentsource %>

			<%= link_to "Subscribe for " + number_to_currency(@predictor.sub_price).to_s, subscribe_path(:username=>@predictor.username), {:class=>"subscribe_cta" }%>

		<% else %>

			<a id="addCardLink" onclick="toggleModal();" class="subscribe_cta">Subscribe</a>
			<%=render 'cards/addcardform_subscribe' %>
			
		<% end %>

	<%else%>

		<a class="subscribe_cta">&#10004; <%= number_to_currency(@predictor.sub_price).to_s %>/month</a>

  	<%end%>

<%end%>

