<% if user_signed_in?%>

  	<% unless current_user.subscribed(predictor.id) %>

		<%= link_to "Go Premium", subscribe_confirm_path(predictor.username), {:class=>"subscribe_cta" }%>

	<%else%>

		<a class="subscribe_cta">&#10004; Premium<%# number_to_currency(@predictor.sub_price).to_s %></a>

  	<%end%>

<%end%>

