
<div class = "predictor-links">
  <ul class="header-list">
    <li><%= link_to "Profile", predictordashboard_path(@predictor.username) %></li>
    <li><%= link_to "Articles", predictorindexarticlessall_path(@predictor.username) %></li>
    <li><%= link_to "Predictions", predictorindexpredictionsall_path(@predictor.username) %></li>
  </ul>
</div>