<% if user_signed_in?%>

  	<% unless current_user.subscribed(@predictor.id) %>

		<% if current_user.paymentsource %>

			<%= link_to "Go Premium", subscribe_path(:username=>@predictor.username), {:class=>"subscribe_cta" }%>

		<% else %>

			<a id="addCardLink" onclick="toggleModal();" class="subscribe_cta">Go Premium <%=number_to_currency(@predictor.sub_price).to_s%>/month</a>
			<%=render 'cards/addcardform_subscribe' %>
			
		<% end %>

	<%else%>

		<a class="subscribe_cta">&#10004; Premium<%# number_to_currency(@predictor.sub_price).to_s %></a>

  	<%end%>

<%end%>

