<header>
  <script>
        $(document).ready(function(){
            $("#recentIndexToggle").click(function(){
              $('#divUpcomingIndex').hide(750)
              $('#divTopIndex').hide(750)
              $('#divRecentIndex').show(750)
              $("a.recent-nav").addClass("active-nav");
              $("a.top-nav").removeClass("active-nav");
              $("a.upcoming-nav").removeClass("active-nav");
            });
        });
  </script>

  <script>
        $(document).ready(function(){
            $("#upcomingIndexToggle").click(function(){
              $('#divRecentIndex').hide(750)
              $('#divTopIndex').hide(750)
              $('#divUpcomingIndex').show(750)
              $("a.upcoming-nav").addClass("active-nav");
              $("a.top-nav").removeClass("active-nav");
              $("a.recent-nav").removeClass("active-nav");
            });
        });
  </script>

    <script>
        $(document).ready(function(){
            $("#topIndexToggle").click(function(){
              $('#divRecentIndex').hide(750)
              $('#divUpcomingIndex').hide(750)
              $('#divTopIndex').show(750)
              $("a.top-nav").addClass("active-nav");
              $("a.upcoming-nav").removeClass("active-nav");
              $("a.recent-nav").removeClass("active-nav");
            });
        });
  </script>

</header>

<div class = "user-dashboard-prediction-nav">

	<ul class="dashboard-prediction-nav">
		
		<li><a class="recent-nav active-nav" id= "recentIndexToggle">Recent</a></li>

		<li><a  class="upcoming-nav" id= "upcomingIndexToggle">Upcoming</a></li>

		<li><a class="top-nav" id= "topIndexToggle">Rated</a></li> 

	</ul>

</div>