
<div class="predictor-cover">
  
  <div class="predictor-cover-container"> 
    
    <div class="predictor-cover-summary"> 

      <div class="predictor-image-small-container">
      <%= image_tag @predictor.image.url(:medium, :width => 50, :height => 50), class: "predictor-image-small"%>
      </div>

      <div class="predictor-cover-summary-bio">
        <%= link_to @predictor.name, predictordashboard_path(@predictor.username), class: "predictor-name"%>
        <br>
        <a class="white-text">I am going to write here about my modeling and approach to making predictions. CMSMIEAMDFIMRIMRIGMRG</a>
      </div>

    </div>

    <div class="predictor-cover-details"> 
      <a class="white-text"><%=@predictor.prediction_games.count%> PREDICTIONS / <%=@predictor.prediction_games.count%> SUBSCRIBERS</a>
    </div>

  </div>

</div>