<div class = "cover-wrap">

	<div class="cover-container">

		<ul class="horizontal-cover">

			<li id="home"><%= link_to "Profile", edit_predictor_registration_path%></li>

			<li id="games"><%= link_to "Payee Information", predictorpayeeedit_path%></li>

			<li id="games"><%= link_to "Payment Accounts", bank_account_new_path%></li>

		</ul>
    

  </div>

</div>