<div class="article-index-dashboard">

	<% if @articles.count == 0 %>
		<div class="prediction-index-header-text">
			No Posts
		</div>

	<%else%>

		<% @articles.each do |article| %>
			<div class = "article-summary">
				<h3><%= link_to article.title, predictorarticleshow_path(Predictor.find(article.predictor_id).username,article.id) %></h3>
				<p>submitted <%= article.created_at.strftime("%D") %></p>
				<p>/category</p>
			</div>
		<% end %>
	<%end%>

</div>