<%if user_signed_in? %>

	<% @predictors_recommend = Predictor.all.order("created_at DESC").limit(3) %>

	<div class="outline-shadow">

		<h3>Who to Follow</h3>

		 <table class="user-dashboard-table">

		  <% @predictors_recommend.each do |predictor|%>
		  	<tr data-link="<%=predictordashboard_path(predictor.username)%>", class="table-cta-hover">
		  		<td>
		  			<%= image_tag predictor.image.url(:medium), class: "predictor-image-tiny"%><%= link_to predictor.username, predictordashboard_path(predictor.username), class: "full-name" %>
		  		</td>

		  	</tr>

		  <%end%>

		</table>

	</div>

<%end%>