<div class="user-dashboard-header"%>

  <% if predictor_signed_in?%>

    <h3>Summary</h3>

    <table class="user-dashboard-summary">
      <tr>
        <td class="ud-margin">Followers</td>
        <td class="ud-margin">Subscriptions</td>
        <td class="ud-margin">Current Balance</td>
      </tr>

      <tr>
        <td class="ud-margin"><%= @followers_count %></td>
        <td class="ud-margin"><%= @subscriptions_count %></td>
        <td class="ud-margin"><%= @current_balance %></td>
      </tr>

      </table>

  <%end%>

</div>




