<div class="outline-shadow"%>

  <% if predictor_signed_in?%>

    <h3 class="subscription-price-header">Subscription Price</h3>

    <%= form_tag update_predictor_price_path do %>
      <table class="predictor-price-form">
        <tr>
          <td class="ud-margin">Current Price</td>
          <td class="ud-margin">New Price</td>
        </tr>

        <tr>
          <td class="ud-margin"><%= number_to_currency(@predictor.sub_price) %></td>
          <td class="ud-margin"><input type="number" class="new-subscription-rate" name="newsubscriptionprice" pattern="(^\d+(\.|\,)\d{2}$"></td>
        </tr>

        <tr>
          <td colspan="2"> <input class= "subscription-price-submit" name="commit" type="submit" value="Update"></td>

        </tr>

      </table>

    <% end %>

        <br>

  <%end%>

</div>




