<div class="outline-shadow">

	<h3>Top Experts for This Game</h3>

	 <table class="user-dashboard-table">

	  <% @top_predictors.each do |predictor|%>
	  	<tr data-link="<%=predictordashboard_path(predictor.username)%>", class="table-cta-hover">
	  		<td>
	  			<%= image_tag predictor.image.url(:medium), class: "predictor-image-tiny"%> <a class="full-name"><%= predictor.username %></a>
	  		</td>

	  	</tr>

	  <%end%>

	</table>

</div>