<div class = "content-container">

	<div class="predictor-panel">
		<%= render 'predictors/predictorcard' %>
	</div>

	<div class="content-panel">

		<%= render 'predictors/predictorlinks' %>

		<h2 class="prediction-index-header-text">Posts</h2>
		
		<%= render 'predictors/predictorarticleindex' %>

		<nav>
			<div class="center">
				<%# will_paginate @predictions, renderer: BootstrapPagination::Rails %>
			</div>
		</nav>
		
	</div>
	
</div>
