<%= render 'predictors/predictorcover' %>
<%= render 'predictors/predictorcovernav' %>

<div class = "content-container">

	<div class="content-panel">

		<div class ="article-title-header">
			<h3><%=@predictor.name%>'s Posts</h3>
		</div>

		<%= render 'predictors/predictorarticleindex' %>
		
	</div>
	
</div>
