<% if admin_signed_in? %>

<table>
	<thead>
		<tr>     
		      <th>ID</th>
		      <th>Username</th>
		      <th>Email</th>
		      <th>Prediction Count</th>
		      <th>Balance</th>
		          
		</tr>
	</thead>

	<% Predictor.all.each do |predictor| %>

		<tbody>
		      
		  <tr class="prediction-table-row" href="/">
		          
		      <td><%= predictor.id %></td>
		      <td><%= predictor.username %></td>
		      <td><%= predictor.email %></td>
		      <td><%= predictor.prediction_games.count %></td>
		      <td><%# predictor.balance_stripe %></td>
		          
		    </div>
		  </tr>

		</tbody>

	<% end %>

</table>

<%end%>