<%= render 'layouts/header_sub' %>

<div class ="user-dashboard-wrap">

	<div class ="user-dashboard-container">

		<div class="user-dashboard-left">

			<%= render 'devise/user_dashboard_header'%>

			<%= render 'predictors/recommendations' %>

		</div>

		<div class ="user-dashboard-predictors">
			
			<%= render 'predictors/index'%>

		</div>

	</div>
	
</div>
