
<div class ="user-dashboard-container">

	<%=render 'devise/user_subscription_nav'%>

  <div class ="user-dashboard-predictions">

	<%= render 'predictors/index'%>

  </div>

   <div class ="user-dashboard-card">
	
	<%= render 'predictors/recommendations' %>

  </div>

</div>
