<%= render 'predictors/predictorcover' %>

<div class ="user-dashboard-wrap">
	<div class ="user-dashboard-container">

		<div class ="user-dashboard-predictions">

	    	<%= render 'prediction_games/indexshow'%>

	    	<nav>
				<div class="center">
					<%# will_paginate @predictions, renderer: BootstrapPagination::Rails %>
				</div>
			</nav>

		</div>

	   <div class ="user-dashboard-card">
	      <%= render 'predictors/recommendations' %>

	  </div>

	</div>
	
</div>
