<%= render 'predictors/predictorcover' %>

<div class="user-dashboard-wrap">

	<div class ="user-dashboard-container">

		<div class="user-dashboard-left">

			<%= render 'predictors/subscriber_summary' %>

			<%= render 'predictors/subscription_rate' %>
			
		</div>

		<div class ="user-dashboard-predictions">

			<%= render 'predictors/transactions' %>

		</div>

	  </div>

</div>
