<div class ="user-dashboard-wrap">

	<div class ="user-dashboard-container">

		<%# render 'devise/user_subscription_nav'%>

		<div class="user-dashboard-left">

			<%= render 'devise/user_dashboard_header'%>

			<%= render 'predictors/recommendations' %>

		</div>

		<div class ="user-dashboard-predictors">
			
			<%= render 'predictors/index'%>

			<%# render 'prediction_games/index'%>

		</div>

	</div>
	
</div>
