<%= render 'predictors/predictorcover' %>
<%= render 'predictors/predictorcovernav' %>

<div class="content-panel">

	<h1>My Subscribers</h1>

<table>
  <thead>
    <tr>
      <th>Total Subscribers</th>
      <!-- <th>Subscribed On</th> -->
    </tr>
  </thead>

  <tbody>
    <%# @subscribers.each do |subscriber| %>
      <tr>
        <td><%= @subscribers.count %></td>
      </tr>
    <%# end %>
  </tbody>
</table>
	
</div>
