<div class="confirm-wrap">

	<div class="confirm-container">
		    
	    <h1>Confirm Premium Upgrade</h1>


	    <h1><%= image_tag @predictor.image.url(:medium, :width => 50, :height => 50), class: "predictor-image-small"%><%= link_to @predictor.username, predictordashboard_path(@predictor.username), class: "predictor-name"%></h1>

	    <% if @price > 0 %>
	    
	    	<h3 style="color:#11a657;"><%=number_to_currency(@price).to_s + "/month"%></h3>

	    <%else%>

	    	<h3 style="color:#11a657;">Free!</h3>

	    <%end%>


	<!-- 	    <div class="large-table-container"> -->

	<!-- 	    	<%# if @displaycard %>

		    		<input type="radio" name="payment_type" value="current"  id="currentPaymentLink"  checked="checked"><b>Current Payment Method</b> (<%#@displaycard.brand + " ending in " + @displaycard.last4 %>)

					<br><br>

					<input type="radio" name="payment_type" value="add" id="addCardLink"><b>Add a Credit Card</b
					><br><br>

					<div class="add-card-container" style="display:none">
						<%#render 'cards/newcardform' %>
					</div>

				<%# else %>
			      		
					<input type="radio" name="payment_type" value="add" id="addCardLink" checked="checked"><b>Add a Credit Card</b><br>

					<%#render 'cards/newcardform' %>

				<%# end %>

		    </div> -->

	    <div class="confirm-button">

	    	<%= link_to "Confirm", subscribe_path(:username=>@predictor.username), {:class=>"hero_cta" }%>

		</div>

	</div>

</div>