<h4>Most Popular Topics</h4>

	<ul class="category-header-items">
		
		<% @featured_topics.each do |topic| %>

			<li class="tag-items"><a href="<%= topic_show_page_path(topic.url)%>"><%= topic.name %></a></li>

		<%end%>

	</ul>
