
	<div class="content-panel">

		Predictors / <%= @expert_type %>

		<div class ="content-title-header">
			<h3>Top Experts</h3>
			<h5><%= link_to "Full Archive »", root_path %></h5>
		</div>

		<%= render 'predictors/indexpredictors' %>
		
		
	</div>