
<div class="content-panel">

	<%# render 'prediction_games/timefilterform'%>

	<div class ="content-title-header">
		<h3>Top Predictions (<%= @expert_type %>)</h3>
		<h5><%= link_to "Find Experts »", findexperts_path(@prediction_type) %></h5>
	</div>

	<%= render 'prediction_games/index'%>
	
</div>