<div class="intro-container">
	
	<a class="dismiss-landing-intro">
		+
	</a>

	<div class="intro-link">

		<h1>Tomorrow's Results, Today.</h1>
		<h2>Futable is a platform for publishing and discovering the best predictions about future events.</h2>
		<h3>Signup to join a growing community of top experts.</h3>

		<div class="landing-buttons">

			<a href="<%= new_predictor_registration_path %>" class="get-started-intro">Get Started</a>

			<a href="<%= about_path %>" class="learn-more-intro">Learn More</a>
			
		</div>

	</div>
					
</div>