<section class="intro-section">

	<div class="intro-container">

		<h1>The Most Accurate Predictions.</h1>
		<h1>Proven.</h1>

		<h2>Find the best expert predictions about anything</h2>

		<div class="hero-wrap">
			<%= link_to "GET STARTED", new_user_registration_path, class: "hero_cta" %>
		</div>
					
	</div>

</section>


<section class ="expert-types">

	<div class="expert-types-container">

		<h1>Discover the world's best </h1>

	</div>



</section>

