<header>

<script>
    $(document).ready(function(){
        $("#expert-types-sports").mouseenter(function(){
          $('#front').hide(50)
          $('#back').show(50)
      
        });

        $("#expert-types-sports").mouseout(function(){
          $('#front').show(50)
          $('#back').hide(50)
      
        });
    });
  </script>

</header>


<section class="intro-section">

	<div class="intro-container">

		<h1>The Most Accurate Predictions.</h1>
		<h1>Proven.</h1>

		<div class="hero-wrap">
			<%= link_to "Get Started", get_started_path, class: "hero_cta" %>
		</div>
					
	</div>

</section>


<section class ="expert-types">

	<h1>Discover the most reliable predictions about the events that matter to you.</h1>

	<div class="expert-types-container">
		
		<div class="expert-types-float" id="expert-types-sports">
			
			<span id="front">

				<h3 class="expert-types-header">SPORTS</h3>

			</span>

			<span id="back" style="display: none;">

				somestuff here

			</span>
			
		</div>

		<div class="expert-types-float" id="expert-types-fantasy-sports">
		
			<h3 class="expert-types-header">FANTASY SPORTS</h3>

		</div>

		<div class="expert-types-float" id="expert-types-finance">
		
			<h3 class="expert-types-header">FINANCE</h3>

		</div>
	
	</div>

	<div class="category-cta-wrap">
		<%= link_to "See All Categories", all_categories_path, class: "category_cta" %>
	</div>

</section>

<section class="explainer-section">

	<div class="explainer-section-container">

		<div class="explainer-section-float">

			<h3>Past Predictive Accuracy is the Greatest Indication of Future Accuracy</h3>

		</div>

		<div class="explainer-section-float">
			Seems okay
		</div>

	</div>

</section>

<section class="become-expert-section">

	<div class="become-expert-section-container">

		<h3>Become a Futable Expert</h3>

		<div class="hero-wrap">

			<%= link_to "Get Started", new_predictor_registration_path, class: "become_expert_cta" %>

		</div>

	</div>

</section>


<section class="press-section">

	<div class="press-section-container">

		<h3>Become a Futable Expert</h3>

	</div>

</section>


<section class="footer-section">

	<div class="footer-section-container">

		<h3>Become a Futable Expert</h3>

	</div>

</section>

