<header>
  <script>
        $(document).ready(function(){
            $("#predictionIndexToggle").click(function(){
              $('#divGameIndex').hide(750)
              $('#divPredictorIndex').hide(750)
              $('#divPredictionIndex').show(750)
              $("a.prediction-nav").addClass("active-nav");
              $("a.game-nav").removeClass("active-nav");
              $("a.predictor-nav").removeClass("active-nav");
            });
        });
  </script>

  <script>
        $(document).ready(function(){
            $("#gameIndexToggle").click(function(){
              $('#divPredictionIndex').hide(750)
              $('#divPredictorIndex').hide(750)
              $('#divGameIndex').show(750)
              $("a.game-nav").addClass("active-nav");
              $("a.predictor-nav").removeClass("active-nav");
              $("a.prediction-nav").removeClass("active-nav");
            });
        });
  </script>

</header>

<div class = "user-dashboard-prediction-nav">

	<ul class="dashboard-prediction-nav">
		
		<li><a class="prediction-nav active-nav" id= "predictionIndexToggle">Recent Predictions</a></li>

		<li><a  class="game-nav" id= "gameIndexToggle">Upcoming Games</a></li> 

	</ul>

</div>