<div class="category-header">

  <ul class="category-header-items">

      <a class="category-item" style="padding:10px" href="<%= topic_show_page_path(@topic.url)%>"><%= @topic.name %></a>

  </ul>

</div>




