<div class="category-header-container">

	<div class="category-header" style="text-align: center;">

	  <ul class="category-header-items">

	      <a class="category-item header" href="<%= topic_show_page_path(@topic.url)%>"><%= @topic.name %></a>

	  </ul>

	</div>

</div>