<h4>Top Articles</h4>

	<ol type="1" style="font-size: 16px;">
		
		<% @top_articles.each do |article| %>

			<li class="top-article-item"><a class="top-article-list"><%= article.title %></a></li>

		<%end%>

	</ol>
