  
<header>
  <script>
        $(document).ready(function(){
            $("#predictionIndexToggle").click(function(){
              $('#divWatchingIndex').hide(750)
              $('#divSubscriptionIndex').hide(750)
              $('#divPredictionIndex').show(750)
              $("a.prediction-nav").addClass("active-nav");
              $("a.watching-nav").removeClass("active-nav");
              $("a.subscription-nav").removeClass("active-nav");
            });
        });
  </script>

  <script>
        $(document).ready(function(){
            $("#watchingIndexToggle").click(function(){
              $('#divPredictionIndex').hide(750)
              $('#divSubscriptionIndex').hide(750)
              $('#divWatchingIndex').show(750)
              $("a.watching-nav").addClass("active-nav");
              $("a.subscription-nav").removeClass("active-nav");
              $("a.prediction-nav").removeClass("active-nav");
            });
        });
  </script>

    <script>
        $(document).ready(function(){
            $("#subscriptionIndexToggle").click(function(){
              $('#divPredictionIndex').hide(750)
              $('#divWatchingIndex').hide(750)
              $('#divSubscriptionIndex').show(750)
              $("a.subscription-nav").addClass("active-nav");
              $("a.watching-nav").removeClass("active-nav");
              $("a.prediction-nav").removeClass("active-nav");
            });
        });
  </script>

</header>

<div class = "user-dashboard-prediction-nav">

	<ul class="dashboard-prediction-nav">
		
		<li><a class="prediction-nav active-nav" id='predictionIndexToggle'>Recent Predictions</a></li>

		<li><a class="watching-nav" id= "watchingIndexToggle">Experts</a></li>

	</ul>

</div>