<div class = "user-dashboard-prediction-nav">

	<ul class="dashboard-prediction-nav">
		<%if @action == "recent"%>
			<li class="active"><%= link_to "Recent", root_path %></li>
		<%else%>
			<li><%= link_to "Recent", root_path %></li>
		<%end%>

		<%if @action == "upcoming"%>
			<li class="active"><%= link_to "Upcoming", root_path(:sort_by=>"upcoming") %></li>
		<%else%>
			<li><%= link_to "Upcoming", root_path(:sort_by=>"upcoming") %></li>
		<%end%>

		<%if @action == "closed"%>
			<li class="active">Closed</li>
		<%else%>
			<li>Closed</li>
		<%end%>

		<%if @action == "top"%>
			<li class="active">Top</li>
		<%else%>
			<li>Top</li>
		<%end%>

	</ul>

</div>