  <script>
        $(document).ready(function(){
            $("#predictorIndexToggle").click(function(){
              $('#divPredictionIndex').hide(750)
              $('#divPredictorIndex').show(750)
            });
        });
  </script>

  <script>
        $(document).ready(function(){
            $("#predictionIndexToggle").click(function(){
              $('#divPredictorIndex').hide(750)
              $('#divPredictionIndex').show(750)
            });
        });
  </script>

<div class = "outline-shadow">

	<h3>Summary</h3>

	<% if user_signed_in?%>

  <div class="summary-table-container">

    <table class="user-dashboard-summary">
      <tr>
        <!-- <td class="ud-margin"><a class="link-jquery">Predictions</a></td> -->
        <td class="ud-margin">Watching</td>
        <td class="ud-margin">Subscriptions</td>
      </tr>

      <tr>
        <!-- <td class="ud-margin"><%#@predictions.count%></td> -->
        <td class="ud-margin"><%=@myPurchases.count%></td>
        <td class="ud-margin"><%=@myPurchases.where(:premium=>true).count%></td>
      </tr>

      </table>
      
    </div>

  <%end%>

</div>