<div class="content-panel">

	<h1> About Us </h1>
	<p>The World's First IM </p>

	Thousands of individuals make their living predicting the future. Whether its sports, finance, politics, or ... the formula is always the same --individuals pay, either with money, as in the instance of subscription based sports picks or stock picks, or with attention, the radio host or television personality... These professional predictors are consistenly proud of the picks they get correct -- invariably there are a few (as my dad says, even a blind squirrel finds a nut once in awhile). However, these same professionals are always very quick to disregard and disavow their incorrect picks. If one was a fool, and only bought into the marketing of these so-called prognostiacators, he could only reasonably conclude that anyone that making predictions is always right.

	But we're not fools.

	That's why Onyx is flipping the prediction world on its head and putting the power back in the hands of the consumer.  By creating an marketplace for predictions, where every predictors prediction history and the outcome, right or wrong, spot on or off by a mile, is fully documented for you to see. No more cleverly manipulated statistics on their track record -- just cold hard facts for you to examine and make the best informed decision about who you believe.

	If a predictor is worth their salt, they will welcome the opportunity to access a transparent market where their track record is fully known. It helps them and it helps our customers. On the flip-side, expect everyone charlatan that could not predict their way out of a paper bag to run from an market for information with a transparent track record like ..... -- don't be surprised if your favorite personality chooses not to join -- at least we know the reason.

	Here's to a better market for predictions. Whether you're thing is sports picks, financial [theories], or political races you can be more confident in the information you purchase here because you have a full, non-biased record of each predictors past record of predictions.

	Use the information for whatever you wish -- we don't portend to blah blah

	Welcome to ONYX.

</div>