<div class="article-panel">

	<div class="about-page-container">

		<h1>Futable</h1>

		<h2>Accurate Predictions and Analysis from Proven Experts.</h2>

		<p>Futable is based on the simple principle that an expert has the ability to produce desired results.  When it comes to being an expert about the future, the desired result is predictions that match closely the actual results of the event in question.  <i>An expert is only someone who can consistently get it right.</i></p>

		<p>Futable is a platform designed to make it easy to identify those experts whose predictions are usually accurate and take with a grain of salt those so-called "experts" whose predictions that are usually wrong.  For each post on Futable, a fully transparent record of the author's past predictions and accuracy are accesible.</p>

		<p>Futable was created to seperate the chaff from the whey in; or, in this case, the flashy idea salesmen from experts who make consistently good predictions in their field over a long period of time.  From the internet to radio and television, the world is awash in authorataive proclaimations about what <i>will</i> happen tomorrow -- now Futable gives you the ability to identify how many of those predictions actually pan out.

		<p>When accurate information about the future counts -- Sports, Finance, Economics, Fantasy Sports, Politics, etc. -- if it isn't from Futable, it isn't reliable.</p>

		<div class="article-show-author">

            <div class="article-card-image">

              <%= image_tag @predictor.image.url(:medium, :width => 60, :height => 60), class: "predictor-image-small"%>

            </div>

            <div class="article-card-content">

              <%= link_to @predictor.username, predictordashboard_path(@predictor.username), class: "article-show-author-name"%><%= render partial: 'predictors/follow_cta', locals: {predictor: @predictor} %>
              <br>
              <%= @predictor.bio %>

            </div>

          </div>

        </div>


	</div>

</div>