<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active">
    	<a href="#aref" data-toggle="tab">How It Works</a>
    	
    </li>

    <li class>
    	<a href="/dashboard" data-toggle="tab">Quality Musicians</a>
    	
    </li>

    <li class>
    	<a href="/about" data-toggle="tab">SB Guarantee</a>
    	
    </li>

    <li class>
    	<a href="#dref" data-toggle="tab">Competitive Quotes</a>
    	
    </li>

    <li class>
    	<a href="#eref" data-toggle="tab">SB on Mobile</a>
    	
    </li>

    <li class>
    	<a href="#fref" data-toggle="tab">Customer Care</a>
    	
    </li>

</ul>

    <div class = "tab-content">

    
    	<div class="tab-pane active" id="aref">

			<h3> How it works </h3>

			<h4> We're here to help </h4>

			<p> Whether you’re just starting a job or need us to takeover one already in progress, we’re here for you. Just let us know what you need, and we’ll get to work for you right away. </p>

    		 <div class="pane-section" id="hiw_0">
    		
    		<span class="pane-subtitle", class:'span3'> <b>Step 1 - Make a request (it takes just 60 seconds) </b></span>

    		<div class="pane-section-left">
    			<p> Tell us: </p>

    		<ul>
    			<li> What kind of music entertainment you want for your event - like a band, DJ, or classical musician </li>
    			<li> Some key details about the event - the type of event, the time/date of the event, your budget, etc.)  </li>
    			<li> The best way to contact you with quotes (email, text, or phone) </li>
    		</ul>
    		</div>
    </div>

    	<div class="pane-section" id="hiw_1">
    		
    		<span class="pane-subtitle", class:'span3'> <b>Step 2 - Our technology matches your request with the right musical entertainment </b></span>

    		<div class="pane-section-left">
    			<p> The moment we receive your gig request, we use the power of our comprehensive live musical entertainment matching system to get you high quality musical entertainment for your event. </p>

    			<p> We: </p>

    		<ul>
    			<li> Find high quality, SB-approved musical professional from our community </li>
    			<li> Check their availability for your event  </li>
    			<li> Confirm their reputation with customer reviews and related event history </li>
    			<li> Verify they comply with the SB quality music entertainment standard </li>
    		</ul>
    		</div>

    	</div>

    	<div class="pane-section" id="hiw_2">
    		
    		<span class="pane-subtitle", class:'span3'> <b>Step 3 - We send you up to four competitive quotes </b></span>

    		<div class="pane-section-left">
    			<p> We fetch and send you competitive prices from each matched musical entertainer as soon as we receive them. All you have to do is pick the musical entertainment and the price you like. </p>
    		</div>

    	</div>

    	<div class="pane-section" id="hiw_3">
    		
    		<span class="pane-subtitle", class:'span3'> <b>Step 4 - Book your musical entertainment online through the SB website </b></span>

    		<div class="pane-section-left">
    			<p> Once you have read real customer reviews and checked out the musician's profile and SB score, you will be ready to make a decsiion, submit a credit card, and book. By booking through the SB website you will get: </p>

    		<ul>
    			<li> The SB Guarantee (link this) </li>
    			<li> Help scheduling musical entertainment that works for you  </li>
    			<li> Our end-to-end customer care that comes with every job </li>
    		</ul>
    		</div>

    	</div>

    	<div class="pane-section" id="hiw_4">
    		
    		<span class="pane-subtitle", class:'span3'> <b>Step 5 - When the event is done, pay through SB </b></span>

    		<div class="pane-section-left">

    		<ul>
    			<li> The SB Guarantee (link this) </li>
    			<li> Help scheduling musical entertainment that works for you  </li>
    			<li> Our end-to-end customer care that comes with every job </li>
    		</ul>
    		</div>

    	</div>
    </div>



    	<div class="tab-pane" id="bref">

    		sfssd

    		<div class="pane-section" id="hiw_1">
    		
    		<span class="pane-subtitle", class:'span3'> <h2><b>Get musical entertainment you will love </b></H2></span>
    		<span class="pane-subtitle", class:'span3'> <b>Prescreened, approved, and backed by our Music Entertainment Guarantee </b></span>
    		<div class="pane-section-left">
    			<p> The moment we receive your gig request, we use the power of our comprehensive live musical entertainment matching system to get you high quality musical entertainment for your event. </p>

    			<p> We: </p>

    		<ul>
    			<li> Find high quality, SB-approved musical professional from our community </li>
    			<li> Check their availability for your event  </li>
    			<li> Confirm their reputation with customer reviews and related event history </li>
    			<li> Verify they comply with the SB quality music entertainment standard </li>
    		</ul>
    		</div>

    	</div>
    	</div>

    	<div class="tab-pane" id="cref">
    		<div class="pane-section" id="hiw_2">
    		
    		<span class="pane-subtitle", class:'span3'> <b>SB Guarantee text </b></span>

    		

    	</div>
    	</div>

    	<div class="tab-pane" id="dref">
    		<div class="pane-section" id="hiw_1">
    		
    		<span class="pane-subtitle", class:'span3'> <b>Competitive Quotes Text </b></span>


    	</div>
    	</div>

    	<div class="tab-pane" id="eref">
    		<div class="pane-section" id="hiw_1">
    		
    		<span class="pane-subtitle", class:'span3'> <b>SB Mobile text </b></span>


    	</div>
    	</div>

    	<div class="tab-pane" id="fref">
    		<p> <b> Customer Care </b> </p>
    	</div>

    </div>
    	

 
  
</div>





<h1> About Us </h1>
<p>The World's First IM </p>

Thousands of individuals make their living predicting the future. Whether its sports, finance, politics, or ... the formula is always the same --individuals pay, either with money, as in the instance of subscription based sports picks or stock picks, or with attention, the radio host or television personality... These professional predictors are consistenly proud of the picks they get correct -- invariably there are a few (as my dad says, even a blind squirrel finds a nut once in awhile). However, these same professionals are always very quick to disregard and disavow their incorrect picks. If one was a fool, and only bought into the marketing of these so-called prognostiacators, he could only reasonably conclude that anyone that making predictions is always right.

But we're not fools.

That's why Onyx is flipping the prediction world on its head and putting the power back in the hands of the consumer.  By creating an marketplace for predictions, where every predictors prediction history and the outcome, right or wrong, spot on or off by a mile, is fully documented for you to see. No more cleverly manipulated statistics on their track record -- just cold hard facts for you to examine and make the best informed decision about who you believe.

If a predictor is worth their salt, they will welcome the opportunity to access a transparent market where their track record is fully known. It helps them and it helps our customers. On the flip-side, expect everyone charlatan that could not predict their way out of a paper bag to run from an market for information with a transparent track record like ..... -- don't be surprised if your favorite personality chooses not to join -- at least we know the reason.

Here's to a better market for predictions. Whether you're thing is sports picks, financial [theories], or political races you can be more confident in the information you purchase here because you have a full, non-biased record of each predictors past record of predictions.

Welcome to ONYX.