Provide options to index cettain categories of predictions based on parameters, some dynamic (games, etc)

Form here


<div class = "home-wrap">

	<div class = "home-content">

		<div>
				
				<h1>
					Select Prediction Category
				</h1>

			</div>

		<div class="typeselect-wrap">




				<div class="sportswrap">

		            <img width="250" height="315" src="https://s3.amazonaws.com/ProjectPhoenix/Textlogo.png" alt="">

		            <div class="typeselect-cta">

		            	<%= link_to "Sports Predictions", findsportspredictions_path %>

		            </div>

		        </div>

		        <div class="financewrap">
		            <img width="250" height="315" src="https://s3.amazonaws.com/ProjectPhoenix/Textlogo.png" alt="">

		            <div class="typeselect-cta">

		            	<%= link_to "Finance Predictions"  %>

		            </div>


		        </div>
		        
		        <div class="miscwrap">
		            <img width="250" height="315" src="https://s3.amazonaws.com/ProjectPhoenix/Textlogo.png" alt="">

		            <div class="typeselect-cta">

		            	<%= link_to "Political Predictions" %>

		            </div>

		        </div>

		</div>

	</div>

</div>
		Maybe use the format for the slide page in predictions (type, sports, etc)