<div class="intro">

</div>

<div class = "home-wrap">

		<div class = "home-content">

			<div class="hero-wrap">

				<h1>
					The Marketplace for Predictions.
				</h1>

				<h4>
					Onyx is the world's popular prediction marketplace.  We make it easy to securely buy predictions from [predictors] with a fully-transparent history of their past accuracy.
				</h4>

				<a href="/about" class="hero_cta"> GET STARTED </a>

				<h4> </h4>


				<p> or see a video about how it works (link to youtube)
				</p>

			</div>

		</div>

</div>
