<div class = "home-wrap">

	<div class = "home-content">

		<div class="hero-wrap">

			<h1>
				Onyx (image)
			</h1>

			<h2>
				Earth's first open market for predictions.
			</h2>

			<a href="/about" class="hero_cta"> GET STARTED </a>

			<p> or see a video about how it works (link to youtube)
			</p>

		</div>

	</div>

</div>
