<%= render 'league_home_header' %>

<div class = "content-container">

	<div class="content-panel">

		<div class ="article-title-header">
			<h3>All <%=@league%> Posts</h3>
			<h5><%= link_to @league + " Home »", leaguehome_path(@league) %></h5>
		</div>

		<%= render 'articles/articlefullarchive' %>
		
	</div>
	
</div>
