
	<div class="container-dash">

      <h1>My WatchList</h1>

      <ul class="nav nav-pills watchlist-header">
        <!-- <div class="watchlist-nav"> -->
          <li role="presentation"><a href="watchlist">All</a></li>
          <li role="presentation"><a href="/sports-watchlist">Sports</a></li>
          <li role="presentation"><a href="/finance-watchlist">Finance</a></li>
          <li role="presentation" class="active"><a href="/politics-watchlist">Politics</a></li>
          <li role="presentation"><a href="/misc-watchlist">Miscellaneous</a></li>
        <!-- </div> -->
      </ul>

      Summary table here: 1. Count, 2. active count, 3. closed count

      <div class="prediction-table-holder">

        <table class ="prediction-index-fold table table-hover">
          <thead>
          <tr>

            <th class="table-holder"></th>
            <th class="prediction-index-fold-th">Election Type</th>
            <th class="prediction-index-fold-th">Election Date</th>
            <th class="prediction-index-fold-th">Time to Election</th>
            <th class="prediction-index-fold-th">Predicted Winner</th>
            <th class="prediction-index-fold-th">Prediction Rating</th>
            
          </tr>
          </thead>

          <!-- <somehow render this as all predictions, just need different info in header - macro states> -->

          

              </table>

      </div>
