<section class="dual-signup-section">

	<h1>Browse Experts by Category</h1>

	<% unless user_signed_in? or predictor_signed_in?%>
		<div class="cta-wrap">
			<%= link_to "Make Predictions", new_predictor_registration_path, class: "hero_cta bottom_cta" %>
		</div>
	<%end%>

	<h2>First Tell Us About Yourself:</h2>

	<div class="dual-signup-panel-container">

		<div class="dual-signup-panel-float">

			<div class="dual-signup-panel-intro">

				<h3>I want the most accurate predictions from top experts.</h3>

			</div>

			<div class="bottom_cta">
				<%= link_to "Signup", get_started_path, class: "hero_cta bottom_cta" %>
			</div>

		</div>

		<div class="dual-signup-panel-float-divider">

		</div>

		<div class="dual-signup-panel-float">

			<div class="dual-signup-panel-intro">

				<h3>I am an expert; I want to make predictions.</h3>

			</div>

			<div class="bottom_cta">
				<%= link_to "Predict", get_started_path, class: "hero_cta bottom_cta" %>
			</div>

		</div>
					
	</div>

</section>

