<section class="dual-signup-section">

	<h1>Browse Experts by Category</h1>

<!-- 	<%# unless user_signed_in? or predictor_signed_in?%>
		<div class="cta-wrap">
			<%# link_to "Make Predictions", new_predictor_registration_path, class: "hero_cta bottom_cta" %>
		</div>
	<%#end%> -->

	<div class="experts-categories-container">

		<span class="experts-categories">
			<h2>Sports</h2>
				<ul class="categories-list">
					<li>
						<%= link_to "NBA", leaguehome_path("NBA")%>
					</li> 
					<li>
						<%= link_to "NFL", leaguehome_path("NFL")%> 
					</li> 
					<li>
						<%= link_to "MLB", leaguehome_path("MLB")%> 
					</li> 
					<li>
						<%= link_to "NHL", leaguehome_path("NHL")%> 
					</li> 
				</ul>
		</span>

		<span class="experts-categories">
			<h2>Finance (Coming Soon)</h2>
				<ul class="categories-list">
					<li>
						<a>Stocks</a>
					</li> 
					<li>
						<a>Currencies</a> 
					</li> 
				</ul>
		</span>

		<span class="experts-categories">
			<h2>Fantasy Sports (Coming Soon)</h2>
		</span>

	</div>

</section>

