
<div class="premium-wrap">

	<h1>Go Premium</h1>

	<div class="premium-container">

		<div class="premium-content-float">
			<h3>Silver</h3>

			<div class="premium-price">

				<span class="sign">
						$

				</span>

				<span class="amount">

					10
				</span>


				<span class="interval">
					/mo
				</span>

			</div>

		</div>

		<div class="premium-content-float">
			<h3>Gold</h3>

			<div class="premium-price">

				<span class="sign">
					$

				</span>

				<span class="amount">

					20
				</span>


				<span class="interval">
					/mo
				</span>

			</div>

		</div>

		<div class="premium-content-float">
			<h3>Platinum</h3>

				<div class="premium-price">

				<span class="sign">
					$

				</span>

				<span class="amount">

					50
				</span>


				<span class="interval">
					/mo
				</span>

			</div>

		</div>

		<div class="premium-content-float">
			
			<h3>Silver</h3>

			<div class="premium-price">

				<span class="sign">
						$

				</span>

				<span class="amount">

					100
				</span>


				<span class="interval">
					/mo
				</span>

			</div>

		</div>

	</div>

</div>

