
<div class="premium-wrap">

	<h1>Go Premium</h1>

	<div class="premium-container">

		<div class="premium-content-float">
			<h3>Silver</h3>

			<h4>500 credits /mo</h4>

			<div class="premium-price">

				<span class="sign">
						$

				</span>

				<span class="amount">

					12
				</span>


				<span class="interval">
					/mo
				</span>

			</div>

			<div class ="go-premium-cta-container">
				<%= link_to "Upgrade Now", plan_confirm_path(1), class: "go-premium-cta" %>
			</div>

		</div>

		<div class="premium-content-float">
			<h3>Gold</h3>

			<h4>1000 credits /mo</h4>

			<div class="premium-price">

				<span class="sign">
					$

				</span>

				<span class="amount">

					20
				</span>


				<span class="interval">
					/mo
				</span>

			</div>

			<div class ="go-premium-cta-container">
				<%= link_to "Upgrade Now", plan_confirm_path(2), class: "go-premium-cta" %>
			</div>

		</div>

		<div class="premium-content-float">
			<h3>Platinum</h3>

			<h4>2800 credits /mo</h4>

				<div class="premium-price">

				<span class="sign">
					$

				</span>

				<span class="amount">

					50
				</span>


				<span class="interval">
					/mo
				</span>

			</div>

			<div class ="go-premium-cta-container">
				<%= link_to "Upgrade Now", plan_confirm_path(3), class: "go-premium-cta" %>
			</div>

		</div>

		<div class="premium-content-float">
			
			<h3>Diamond</h3>

			<h4>6000 credits /mo</h4>

			<div class="premium-price">

				<span class="sign">
						$

				</span>

				<span class="amount">

					99
				</span>


				<span class="interval">
					/mo
				</span>

			</div>

			<div class ="go-premium-cta-container">
				<%= link_to "Upgrade Now", plan_confirm_path(4), class: "go-premium-cta" %>
			</div>

		</div>

	</div>

</div>

