
<div class="premium-wrap">

	<h1>Go Premium</h1>

	<div class="premium-container">

		<div class="premium-content-float">
			stuff

		</div>

		<div class="premium-content-float">
			stuff

		</div>

		<div class="premium-content-float">
			stuff

		</div>

		<div class="premium-content-float">
			stuff

		</div>

	</div>

</div>

