<div class = "home-wrap">

	<div class = "home-content">

		<div>
				
				<h1>
					Select Prediction Category
				</h1>

			</div>

		<div class="typeselect-wrap">




				<div class="sportswrap">

		            <img width="250" height="315" src="https://s3.amazonaws.com/ProjectPhoenix/Textlogo.png" alt="">

		            <div class="typeselect-cta">

		            	<%= link_to "Make a Single Game Predicition", gameselect_path %>

		            </div>

		        </div>

		        <div class="financewrap">
		            <img width="250" height="315" src="https://s3.amazonaws.com/ProjectPhoenix/Textlogo.png" alt="">

		            <div class="typeselect-cta">

		            	<%= link_to "Make a Fantasy Week Prediction", financeprediction_path %>

		            </div>


		        </div>
		        


		</div>

	</div>

</div>