<section class="dual-signup-section">

	<h1>Let's Get Started!</h1>

	<h2>First Tell Us About Yourself:</h2>

	<div class="dual-signup-panel-container">

		<div class="dual-signup-panel-float">

			<h3>I want the most accurate predictions from top experts.</h3>

			<div class="bottom_cta">
				<%= link_to "Signup", get_started_path, class: "hero_cta bottom_cta" %>
			</div>

		</div>

		<div class="dual-signup-panel-float-divider">

		</div>

		<div class="dual-signup-panel-float">

			<h3>I am an expert; I want to make predictions.</h3>

			<div class="bottom_cta">
				<%= link_to "Predict", get_started_path, class: "hero_cta bottom_cta" %>
			</div>
			
		</div>
					
	</div>

</section>

