<% if predictor_signed_in? %>
  <%# render 'layouts/category_header' %> <!-- might need a sub category -->

  <%= render 'pages/tag_header' %>

  <div style="float:right; left:-50%; position: relative;">

	<div class="content-wrap">

	      <div class ="main-content index">

	        <% @articles.each do |article|%>

	          <%= render partial: 'articles/summary_index', locals: {article: article, predictor: Predictor.find(article.predictor_id)} %>

	        <%end%>

	      </div>

		<div class ="side-panel-content index">

	        <div class="content-panel sub">
	        	
	        	<h4>Top <%= @tag.name %> Posts</h4>

	        </div>

	        <div class="content-panel sub">

	          <h4>Related Tags</h4>

	        </div>
				
		</div>
	
	</div>

<%end%>
