<%= render 'layouts/category_header' %>

<div class="content-wrap-outer">

	<div class="content-wrap">

		<div class ="main-content index">

			<h3>Most Recommended This Week</h3>

			<% @top_articles.each do |article|%>

			  <%= render partial: 'articles/summary_index', locals: {article: article[:article], predictor: Predictor.find(article[:article].predictor_id)} %>

			<%end%>

		</div>

		<div class="side-panel-content index">

			<div class="content-panel sub">

			  <%= render 'pages/featured_tags' %>

			</div>

		</div>			
	
	</div>

</div>