
<table class ="prediction-index-fold table table-hover">
  
  <thead>
    <tr>
      <th class="prediction-index-fold-th">Predictor</th>
      <th class="prediction-index-fold-th">Prediction Date</th>
      <th class="prediction-index-fold-th">Onyx Rating</th>
    </tr>
  </thead>

  <tbody>
    <% @predictions.each do |prediction| %>
      <tr data-link="<%=predictiongamesshow_path(Predictor.find(prediction.predictor_id).username,prediction.id)%>", class="prediction-table-row">
        <td><%= Predictor.find(prediction.predictor_id).name %></td>
        <td><%= prediction.created_at.strftime("%D") %></td>
        <td>88</td>
      </tr>
    <% end %>

    <% if @predictions.count == 0 %>  
      <tr class= "game-index-table-row-no">              
        <td colspan="3" class="no-active-games">No Active Predictions</td>
      </tr>
    <% end %>

  </tbody>

</table>

