
<table class ="game-show-table">
  Game info
  <thead>
    <tr>
      <th class="game-show-table-label" colspan="4">Game Info</th>
    </tr>
    <tr class="game-show-table-subhead">
      <th>League</th>
      <th>Matchup</th>
      <th>Date</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody>

    <tr class="game-show-table-row">
      <td><%= @game.league %></td>
      <td><%= @game.teama + " @ " + @game.teamh %></td>
      <td> <%= @game.event_time.strftime("%D") %></td>
      <td><%= @game.event_time.strftime("%l:%M %p") %></td>
    </tr>

  </tbody>
</table>