<%= render 'predictors/predictorcover' %>
<%= render 'predictors/predictoreditnav' %>

<div class = "content-container">

  <div class="content-panel">

  	<h2>Add Bank Account</h2>

		<%= form_tag bank_accounts_path do %>   

			<table>
				<tr>
					<td><span>Bank Location</span></td>
					<td><select name="country">
		                <option value="US">United States</option>
		            </select></td>
				</tr>
				<tr>
					<td><span>Name of Banking Institution</span></td>
					<td><input type="text" size="9" name="bankName"/></td>
				</tr>
				<tr>
					<td><span>Routing Number</span></td>
					<td><input type="text" size="9" name="routingNumber"/></td>
				</tr>
				<tr>
					<td><span>Account Number</span></td>
					<td><input type="text" size="17" name="accountNumber"/></td>
				</tr>
				<tr>
					<td><span>Description</span></td>
					<td><input type="text" size="9" name="description"/></td>
				</tr>
			</table>

		    <button type="submit">Add Bank Account</button>
		<%end%>

	</div>
</div>