<%= render 'predictors/editnavside' %>

<div class = "edit-container">

  <div class="edit-panel">

  	<h2>Add Bank Account</h2>

		<select name="newdefault"/>
		     
		    <option value selected="selected" disabled="disabled">update bank account</option>
		      		
		    <% @accounts.each do |account| %>

				<option value=<%=account.id%>><%=account.bank_name %>

			<%end%>

		</select>

		<br>

		<%=render'bank_accounts/addbankaccountform'%>

	</div>
</div>