<%= render 'predictors/editnavside' %>

<div class = "edit-container">

	<div class="edit-panel">

		<h2>Payment Information</h2>

		<table>

			<tbody>

				<tr>
					<td><%=@list.data[0].brand + " •••• " + @list.data[0].last4 + ", expires " + @list.data[0].exp_month.to_s + "/" + @list.data[0].exp_year.to_s %></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>

			</tbody>


		</table>

		

	</div>
</div>