<div class ="prediction-game-index-show">

  <table class ="prediction-game-index-show-table">
    <tr>
      <th class="prediction-game-index-show-table-date" colspan="6">
        Sunday
      </th>
    </tr>

    <tr>
      <td class="prediction-game-index-show-table-teams" colspan="3">
        Broncos
      </td>
      <td class="prediction-game-index-show-table-teams" colspan="3">
        Chiefs
      </td>
    </tr>

    <tr>
      <td colspan="2">
        16
      </td>
      <td colspan="2">
        Final Score
      </td>
      <td colspan="2">
        18
      </td>
    </tr>

    <tr>
      <td colspan="2">
        -2.0
      </td>
      <td colspan="2">
        Spread
      </td>
      <td colspan="2">
        +2.0
      </td>
    </tr>

    <tr>
      <td colspan="6">
        Over/Under <br>
        34
      </td>
    </tr>

  </table>

</div>