<table class ="prediction-index-summary">

  <thead>
    <tr>
      <th class="prediction-index-summary-th">Total Predictions</th>
      <th class="prediction-index-summary-th">Open Predictions</th>
      <th class="prediction-index-summary-th">Subscribers</th>
    </tr>
  </thead>

  <tbody>
    <tr class="prediction-summary-table-row" href="/">
      <td><%= @predictor.prediction_games.count %></td>
      <td><%= @predictor.prediction_games.all.where(:status => "o").count %></td>
      <td>90001</td>
    </tr>  
  </tbody>

</table>