  <form class="filter_form">

      <%= select("predictor", "sort_param", ["Today", "Rating (Overall)", "# of Predictions","Date Joined", "Subscription Price"], :prompt => "Sort By") %>

    <input type="submit" value="Sort" class="signup-submit" />
  </form>
