<div class ="user-dashboard-container">

  <h1>My Subscriptions</h1>

  <%=render 'devise/user_subscription_nav'%>

  <div class ="user-dashboard-predictions">

    <%= render 'prediction_games/index'%>

  </div>

   <div class ="user-dashboard-card">
      <%= render 'predictors/recommendations' %>

  </div>

</div>
