<div class ="predictor-sub-head">

</div>

<div class = "predictor-summary-container">

	<div class ="predictor-summary-head">

		<div class ="summary-head-container-left">

		</div>

		<div class ="summary-head-container-right">

			<%= render 'predictiongamesummary' %>

		</div>

	</div>
</div>

<div class = "predictor-profile">

	<div class="predictor-profile-container">

		<%= render 'predictors/predictorcard' %>

		<div class="predictor-prediction-index">


			<%= render 'predictorindexpredictiongames' %>
			
		</div>
	</div>
</div>