<div class="container-dash">

	<%= render 'predictors/predictorcard' %>

	<div class="predictor-prediction-index">

		<h1> <%= @predictor.id %>'s <%= params[:league] %> Predictions</h1>

		<% #replace with a name %>

		<%= render 'predictorindexpredictiongames' %>
		
	</div>

</div>