<div class = "content-container">

  <%=render 'games/gameshowcover'%>

  <div class="content-panel">

    <div class ="content-title-header">
      <h3>Prediction</h3> <h5>dummy</h5>
      
      <%= render 'form' %>
    </div>

  </div>
  
</div>
