<div class="content-panel">

	<%=render 'games/gameshowcover'%>

	<!-- <div class ="content-title-header"> -->
		<!-- <h3>Prediction</h3> <h5>dummy</h5> -->
		<%= render 'form' %>
	<!-- </div> -->

</div>
