<div class ="prediction-game-show-container">

  <div class = "predictor-card-float">
    <%= render 'predictors/predictorcard_short' %>

  </div>

  <div class = "prediction-game-info-float">

    <%# render'games/showgamesheader'%>

    <%= render 'predictiongameshowgamedetails' %>
    <%# render 'predictiongameshow' %>
  

  </div>

</div>
