<div class ="prediction-game-show-container">

Float the small predictor card to the left; YESS!!
  <%= render'games/showgamesheader'%>
  <br>
  <%= render'prediction_games/predictiongameshow'%>
  <br>
  <%= render'games/gameoutcomeshow'%>
  <br>
  <%= render'prediction_games/predictiongamerating'%>
  <br>

</div>
