<div class ="prediction-game-show-container">

  <%= render'games/showgamesheader'  %>
  <br>
  <%= render'prediction_games/predictiongameshow'  %>
  <br>
  <%= render'games/gameoutcomeshow'  %>


</div>
