/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .container {
 	  width:100%;
 	  margin-left:auto;
    margin-right:auto;
    min-height: 500px;
    background-color: white;
    z-index:-11;
    padding:0px;
 }

 .body{
    margin:0px;
 }

 .content-container{
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;
    background-color: white;
    width:1200px;
    margin-top:60px;
    margin-bottom:60px;
    position:relative;
    border: 1px solid #BFBFBF;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
 }

 .predictor-panel{
    overflow: hidden;
    padding:20px 20px 50px 20px;
    width:230px;
    float:left;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.15);
    height:100%;
    display: inline-block;
    top:0;
    bottom:0;
    position:absolute;
    border-right: 1px solid #E3E3E3;
 }

 .side-panel{
    overflow: hidden;
    padding:20px 20px 50px 20px;
    width:230px;
    float:right;
    border-left: 2px solid #E3E3E3;
    height:100%;
    display: inline-block;
    top:0;
    bottom:0;
    position:absolute;
    border-right: 1px solid #E3E3E3;
 }

 .content-panel{
    width:860px;
    float:right; 
    padding:35px;
    min-height:500px;
}

 .article-panel{
    width:860px;
    float:left; 
    padding:35px;
    min-height:500px;
}

 .content-panel h2{
    margin-bottom:30px;
    font-weight:bold;
}

.header-list li{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.summary-header{
  border:2px solid #4C4C4C;
}

.prediction-title-header{
  border-top: 3px solid #E0E0E0;
  margin-top:50px;
  font-size:20px;
  overflow: hidden;
}

.prediction-title-header h3{
  font-size:20px;
  float:left;
  line-height: 20px;
  margin-bottom: 30px;
}

.prediction-title-header h5{
  float:right;
}

h2{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:50px;
}

h3{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h4{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:20px;
  text-align:center;
}

 .dropdown-menu.make-prediction-header{
  width:200px;
  margin-left:30px;

 }

 .predictor-edit-registration{
 	width:100%;
 	background-color: black;

 }

 .predictor-edit-registration-container{
 	margin-left:auto;
    margin-right:auto;
    width:1100px;
 }

.predictor-edit-form{
	float:left;
	border: 1px solid rgba(0,0,0,.2);
  	border-radius:3px;
  	margin: 20px;
    background-color:white;
  	
}

input.predictor-edit-submit{
   	background-color: #13BD63;
    width:404px;
    height:36px;
    color:white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border: none;
    border-shadow: 10px 10px 5px #888888;
    margin-top:15px;
}

input.predictor-edit-submit:hover{
   	background-color: #10A254;
}

input.predictor-index-sort-teams{
   	background-color: #B535FF;
    width:100px;
    height:30px;
    color:white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border: none;
    box-shadow: 1px 1px 1px #888888;
    margin-left:10px;

}

input.predictor-index-sort-teams:hover{
   	background-color: #9E2EDE;
}

form.filter_form{
    text-align: center;
    margin:20px;
}

select#team_filter_team{
	margin:0px;
}

.header-inner{
	border-bottom: 1px solid rgba(0,0,0,.2);
	padding:10px 20px 10px 20px;
}

.predictor-edit-basic{
	border-bottom: 1px solid rgba(0,0,0,.2);
	padding:20px 20px 0px 20px;
}

.predictor-edit-confirm{
	border-bottom: 1px solid rgba(0,0,0,.2);
	padding:10px 20px 10px 20px;
}

.predictor-edit-cancel{
	padding:10px 20px 10px 20px;
}

.predictor-delete-button{
   	background-color: #FF3A25;
    width:404px;
    height:36px;
    color:white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border: none;
    border-shadow: 10px 10px 5px #888888;
    margin-top:15px;
}

.predictor-delete-button:hover{
   	background-color: #ED1903;
}

.predictor-edit-label{
	width:100px;
	margin:0px;
}

.predictor-description-container{
  padding:10px;
  padding-bottom:20px;
  background-color:white;
}

.content-header-container{
  width:100%;
  border-bottom: 1px solid #e0e4e8;
}

.content-header{
  height:65px;
  width:1200px;
  padding:15px;
  margin-left: auto;
  margin-right: auto;
  
}
