/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  background-color:#f1f5ff;
  
  /*background-image: url("https://s3.amazonaws.com/futable/backgrounds/handmadepaper.png");
  background-image: url("/assets/handmadepaper.png");*/

}

html, body, div, span{
  margin:0px;
  padding:0px;
  border:0px;
}

html, body {
  min-height: 100%;
  min-width: 100%;
}

 .container {
 	  width:100%;
    height:100%;
    z-index:-11;
    margin-left:0px;
    margin-right: 0px;
    padding: 0px;
    min-width: 960px;
 }


 .content-container{
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;
    background-color: white;
    width:1000px;
    margin-top:50px;
    margin-bottom:50px;
    padding:35px;
    border: 1px solid #E0E0E0;
 }

 .predictor-panel{
    overflow: hidden;
    padding:20px 20px 50px 20px;
    width:230px;
    float:left;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.15);
    height:100%;
    display: inline-block;
    top:0;
    bottom:0;
    position:absolute;
    border-right: 1px solid #E3E3E3;
 }

 .side-panel{
    overflow: hidden;
    padding:20px 20px 50px 20px;
    width:230px;
    float:right;
    border-left: 2px solid #E3E3E3;
    height:100%;
    display: inline-block;
    top:0;
    bottom:0;
    position:absolute;
    border-right: 1px solid #E3E3E3;
 }

.content-panel-wrap{
  width:100%;
  padding:50px;
}

 .content-panel{
    width:100%;
    max-width: 960px;
    padding:20px 0px;
    margin:0 auto;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.content-panel:after{
  clear: both;
  display: table;
  content: "";
}

.content-panel h1{
    display: inline;

}

 .content-panel h2{
    margin-bottom:30px;
    font-weight:bold;
}

 .content-panel.sub h3{
    margin:10px 0px;
}

 .content-panel h5{
    color:#999;
}

.content-panel-container{
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding:20px;
}

 .content-panel.sub{
    margin-bottom: 10px;
    padding:10px;
}

.large-table-container{
  margin:30px 0px;
}

.large-table-container h3{
    font-size:16px;
    color:#333;
    display:inline;
}

.card-form-container{
    margin:30px 0px;
    padding: 20px;
    border: 2px solid #888;
    border-radius: 3px;
}

.card-form-container h3{
    font-size:16px;
    color:#333;
    display:inline;
}


.header-list li{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.summary-header{
  border:2px solid #4C4C4C;
}

h2{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:50px;
}



h4{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:20px;
}

 .dropdown-menu.make-prediction-header{
  width:200px;
  margin-left:30px;

 }

 .predictor-edit-registration{
 	width:100%;
 	background-color: black;

 }

 .predictor-edit-registration-container{
 	margin-left:auto;
    margin-right:auto;
    width:1100px;
 }

.predictor-edit-form{
	float:left;
	border: 1px solid rgba(0,0,0,.2);
  	border-radius:3px;
  	margin: 20px;
    background-color:white;
  	
}

input.new-subscription-rate{
  width:60px;
  text-align: center;
  margin:0px;
}

input.predictor-edit-submit{
   	background-color: #13BD63;
    width:404px;
    height:36px;
    color:white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border: none;
    border-shadow: 10px 10px 5px #888888;
    margin-top:15px;
}

input.predictor-edit-submit:hover{
   	background-color: #10A254;
}

input.predictor-index-sort-teams{
   	background-color: #B535FF;
    width:100px;
    height:30px;
    color:white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border: none;
    box-shadow: 1px 1px 1px #888888;
    margin-left:10px;

}

input.predictor-index-sort-teams:hover{
   	background-color: #9E2EDE;
}

form.filter_form{
    text-align: center;
    margin:20px;
}

select#team_filter_team{
	margin:0px;
}

.header-inner{
	border-bottom: 1px solid rgba(0,0,0,.2);
	padding:10px 20px 10px 20px;
}

.predictor-cover{
  background-color: #fff;
  margin:-1px;
  width:100%;
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
}


.predictor-cover-container{
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding:10px;
  text-align: center;
}

.predictor-cover-container h1{
  display:inline;
}

.predictor-cover-summary{
  float:left;
  width:50%;
  padding:25px;
}

.predictor-cover-summary-bio{
  float:left;
  margin-left:10px;
  word-wrap:break-word;
  color:white;
}

.white-text{
  color:white;
}

.white-text:hover{
  color:white;
  text-decoration: none;
}

.predictor-cover-details{
  float:left;
  width:50%;
  padding:25px;
  text-align: center;
}

.predictor-edit-basic{
	border-bottom: 1px solid rgba(0,0,0,.2);
	padding:20px;
}

.predictor-edit-confirm{
	border-bottom: 1px solid rgba(0,0,0,.2);
	padding:10px 20px 10px 20px;
}

.predictor-edit-cancel{
	padding:10px 20px 10px 20px;
}

.predictor-delete-button{
   	background-color: #FF3A25;
    width:404px;
    height:36px;
    color:white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border: none;
    border-shadow: 10px 10px 5px #888888;
    margin-top:15px;
}

.predictor-delete-button:hover{
   	background-color: #ED1903;
}

.predictor-edit-label{
	width:100px;
	margin:0px;
}

.predictor-description-container{
  padding:10px;
  padding-bottom:20px;
  background-color:white;
}

.content-header-container{
  width:100%;
  margin-top:1px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  background: linear-gradient(#fff, #f8f8f8);
}

.content-header{
  height:50px;
  width:1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
}

.content-league-header-container{
  width:100%;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  background: linear-gradient(#fff, #f8f8f8);
  height: 53px;
}

.content-league-header{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  
}

.content-header-sub{

  height:50px;
  width:1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;

}

.cover-sub-header{
  width:900px;
  margin-left: auto;
  margin-right: auto;
  padding-left:25px;
}

.submenu-header{
  padding:5px;
}

.subheader-menu-list{
  list-style-type:none;
  margin:0px;
  padding:0px;
}

.subheader-menu-list>li>a {
  text-decoration: none;
  color: #262626;
  display: block;
  width: 100%;
  height: 100%;
  padding:3px 0px;
  white-space: nowrap;
}

.subheader-menu-list>li:hover {
  text-decoration: none;
  color: #262626;
  background-color: whitesmoke;
  cursor:pointer;
}

.submenu-drop{
  padding:10px;
}

.predictor-user-toggle-container{
  overflow:hidden;
}

a.predictor-user-toggle{
  float:left;
  padding:20px;
  width:200px;
  text-align:center;
  text-decoration:none;
  color:white;
  font-size:24px;
}

a.predictor-user-toggle.inactive{
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), inset 0 0 10px #444444;
    text-shadow: 0 1px 0 #333333, 0 0 0 #333333;
    background: linear-gradient(#777777, #444444);
}

a.predictor-user-toggle.inactive:hover{
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), inset 0 0 10px #444444;
    text-shadow: 0 1px 0 #333333, 0 0 0 #333333;
    background: linear-gradient(#666, #333);
}

a.predictor-user-toggle.active{
  background: linear-gradient(#fff, #fcfcfc);
  color:#333;
}

a.predictor-user-toggle:hover{
  cursor:pointer;
}

p.terms-of-service{
  font-size: 11px;
  color: #999;
  margin:20px auto;
  max-width:350px;
  width:100%;
  text-align:center;
}

.edit-side-container{
  width:250px;
  left:0px;
  //background: #373737;
  float:left;
  position: relative;
  padding: 10px 0px;
}

.edit-sidebar{
  list-style-type: none;
  margin:0px;
  padding:0px;
}

.edit-sidebar>li {
  line-height: 40px;
  webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.edit-sidebar>li>a.sidebar-header {
  color:#444;
  font-weight:bold;
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-size: 18px;
}

.edit-sidebar>li>a.sidebar-header:hover {
  text-decoration: none;
}

.edit-sidebar>li>a.cancel-account {
  color:red;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
}

.edit-sidebar>li>a.cancel-account:hover {
  cursor: pointer;
  text-decoration: none;
}

.edit-sidebar>li>a.edit-listing {
  color:#444;
  display: block;
  width: 100%;
  height: 100%
}

.edit-sidebar>li>a.edit-listing.active {
  color:black;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-left: 20px;
}

.edit-sidebar>li>a.edit-listing:hover{
  text-decoration: none;
}

.sidebar-listing.active{
  background-color: white;
  color:black;
  padding: 0px;
}

.sidebar-listing.active:hover{
  background-color: white;
  color:black;
}

.sidebar-listing{
  cursor: pointer;
  color:black;
  text-decoration: none;
  padding-left: 20px;
}

.sidebar-listing:hover{
  background-color: #ddd;
}

.subheader-listing:hover{
  color:black;
  text-decoration: none;
}

.edit-container{
  overflow: hidden;
  background-color: white;
  padding:10px 30px;
  padding-bottom: 100px;
  min-height:700px;
  box-shadow: 1px 2px 3px #444;
}

.edit-content{
  width: 860px;
  margin-left: auto;
  margin-right: auto;
}

.edit-panel h2{
  font-size: 40px;
  width:500px;
  padding-bottom: 5px;
  border-bottom: 2px solid #3e4ec9;
  margin-bottom: 20px;
}

.header-container-top{
  margin-top:60px;
  width:100%;
  z-index: 100;

  background: linear-gradient(#3E4EC9,#283282);
  background: #283282;
  background: -webkit-linear-gradient(#3E4EC9,#283282);
  background: -moz-linear-gradient(#3E4EC9,#283282);
  background: -ms-linear-gradient(#3E4EC9,#283282);
  background: -o-linear-gradient(#3E4EC9,#283282);
  background: linear-gradient(#3E4EC9,#303C9C);
}

.user-dashboard-wrap{
  
  float: right;

  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}

.user-dashboard-container{
  padding: 30px 0px;
  float:left;
  display:block;
  position: relative;
  left: 50%;
}

.user-dashboard-container h1{
  color:#333;
  margin-bottom:30px;
  text-shadow: 0 1px 0 #dedede;
  font-weight: bold;
}

.user-dashboard-container h2{
  color:#555459;
  margin-bottom:30px;
}

.user-dashboard-left{
  float:left;
  width:315px;

}

.outline-shadow{
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
  border-radius: 1px;
}

.outline-shadow h3{

  color:#333;
  padding:15px;
  margin:0px;
  
}

.inset-shadow{
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
  border-radius: 2px;
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.07),0 0px 0 #fff;

  border: 1px solid #dadada;
  border-top: 1px solid #bbb;
}

.inset-shadow h3{

  padding:20px 0px 0px 10px;
  margin:0px; 
}

.user-dashboard-header{
  padding:10px;
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
}

.section-header{
  padding:10px;
  background-color: green;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  text-align: center;
  font-size:20px;
  color:white;
}

.game-float-header-container{
  padding:10px 0px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

.game-team-name{
  color:#333;
  font-size: 24px;
  margin:0px 5px;
}

.game-team-name:hover{
  color: #36c;
  text-decoration: none;
  webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;

}


.game-float-header-container h5{
  text-align:center;
}


.user-dashboard-prediction-nav{
    padding: 10px;
    background-color: #fff;
    margin-bottom: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.dashboard-prediction-nav{
  margin:0px;
  padding: 0px;
}

.dashboard-prediction-nav li{
  display: inline;
  padding:10px 0px;
  border-bottom: 2px solid transparent;
  font-weight: bold;
  color:#333;
}

.dashboard-prediction-nav li.active{
  border-bottom: 2px solid orange;
}

.dashboard-prediction-nav a{
  padding:10px;
  color:#666;
  font-size:18px;
}

.dashboard-prediction-nav a:hover{
  color:#333;
  cursor:pointer;
}

.user-dashboard-recommendations{
  padding:10px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

.dashboard-prediction-nav a.active-nav{
  color:#333;
}

.dashboard-prediction-nav a.active-nav:hover{
  text-decoration: none;
}


.user-dashboard-summary{
  text-align: center;
  width: 100%;
}

.summary-table-container{
  padding: 0px 10px 10px 10px;
}

.predictor-price-form{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width:200px;
}

h3.subscription-price-header{
  text-align: center;
  padding: 20px;
  margin: 0px;
}

h5.next-payment-date{
  text-align: center;
  padding: 10px;
  margin: 0px;
  color:#077E82;
  font-size:20px;
}

td.ud-margin{
  padding:0px 5px;
}

.user-dashboard-games{
  margin-bottom: 15px;
  padding:10px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.user-dashboard-card{
  float:left;
  width: 315px;

}

.user-dashboard-predictions{
  float:left;
  width:530px;
  padding: 0px 15px;
}


.user-dashboard-predictors{
  float:left;
  max-width: 830px;
  margin: 0 15px;
}

.user-dashboard-promo{
  float:left;
  width:100px;
}

.user-subscription-nav-container{
  //background-color: #373737;
  width:700px;
  float:left;
  margin-bottom:30px;
}

.user-subscription-nav-header{
  height:50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

a#addCardLink:hover{
  cursor:pointer;
}

.modal-container{
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  width:100%;
  height:100%;
  position:fixed;
  background-color:rgba(0, 0, 0, 0.5);
}

.modal-form{
  top:0px;
  width:450px;
  margin-left: auto;
  margin-right: auto;
  z-index:1050;
  margin-top:200px;
  background-color:#fafafa;
  border-radius: 3px;
  padding:15px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.close{
  float:right;
  color:black;

}


table.card-form{
  text-align:left;
}

td.add-card-header{
  padding-bottom: 20px;
  font-size:20px;
}

.form-control{
  width: inherit;
}

.btn-success{
  background: linear-gradient(#FA9E30, #FFA131);
    width:250px;
    height:36px;
    color:white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border: none;
    margin-top:15px;
    border-radius:1px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
}


.predictor-card{
  height:300px;
  width: 244px;
  float:left;
  border-radius:2px;
  background-color: white;
  margin: 0px 6px 12px 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.predictor-card-header{
  position: relative;
  width:100%;
  height:100px;
  background-color: #333

}

.predictor-card-body {
  padding:5px;
  position:relative;
}

.user-dashboard-table{
  width:100%;
}

.table-cta-hover{
  padding:0px 10px;
}

.table-cta-hover:hover{
  cursor:pointer;
  background-color: #eee;
}

.sidebar-entry{
  padding:10px;
}

.sidebar-entry.left{
  padding:10px 0px 10px 10px;
}

.sidebar-entry.right{
  padding:10px 10px 10px 0px;
}

.no-top-predictions{
  color:#777;
  font-size: 12px;
  text-align: center;
  padding: 10px;
}

td.table-float-left{
  text-align: right;
  width:500px;
}

.table-center{
  text-align: center;
  padding: 0px 10px;
  width:150px;
}

.table-center p{
  color:#333;
  font-size: 12px;
  margin:0px;

}

td.table-float-right{
  text-align: left;
  width:500px;
  
}

 .cover-wrap{
    background-color:white;
    width:100%;
    -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
  }

  .cover-container{
    height:100%;
    margin-left:auto;
    margin-right:auto;
  }

  .cover-container h3{
    text-align: center;
    margin: 0px;
    line-height: 80px;
  }

.active-nav {
  color:#333;
}


.footer-float{
  margin-bottom: 15px;
  padding:10px;
  background-color: white;
  color:#999;
  font-size: 12px;
}

.footer-float a{
  color:#999;
}

.link-jquery:hover{
  cursor: pointer;
  text-decoration: none;
}

a.need-information-cta{
  background: linear-gradient(#E52421, #C81F1D);
  padding:10px 20px;
  text-align:center;
  color:white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border: none;
  margin:90px 0px;
  border-radius:1px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  white-space:nowrap;
}

a.need-information-cta:hover{
  cursor: pointer;
  text-decoration: none;
}

a.no-style{
  text-decoration: none;
  color:#333;
}

a.no-style:hover{
  text-decoration: none;
  color:#333;
}

a.category-item{
  font-size: 20px;
  color:#333;
}

a.category-item:hover{
  text-decoration: none;
  cursor: pointer;
  color: #36c;
}

.category-header-container{
  width:100%;
  background-color:#fff;
  padding: 10px 0px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.category-header{
  margin:0 auto;
  max-width:1000px;
  width:100%;
  padding:0px 10px;
}

.category-header-items {
  margin:0 auto;
  display:inline;
  text-align:center;
  padding: 0px;
}

.category-header-items li{
  display: inline;
  padding: 10px 0px;
}

.tag-items{
  display: inline;
  padding: 10px 0px;
  line-height: 50px;
  margin: 0 5px;
}

.tag-items a{
  padding: 10px;
  border:1px solid #eee;
  background: #eee;
}

.tag-items a:hover{
  text-decoration: none;
  cursor: pointer;
  color: #36c;
}

@media only screen and (max-device-width: 960px) {



}






@media only screen and (max-device-width: 960px) {
    .user-dashboard-card{
      display:none;
    }

    .container{
      min-width:0px;
    }

    .recent-nav, .upcoming-nav, .top-nav, .prediction-nav{
      font-size: 20px;
    }

    .game-nav{
      font-size: 20px;
    }

    .predictor-nav{
      font-size: 20px;
    }

    .watching-nav{
      font-size: 20px;
    }

    .subscription-nav{
      font-size: 20px;
    }

    .expert-types {
      
    }

    .expert-types-container{
      
    }

    .user-dashboard-wrap{
      width: 100%;
      max-width:500px;
    }

    .user-dashboard-container{
      width: 100%;
      max-width:500px;
    }

    .user-dashboard-predictions{
      width: 100%;
      max-width:530px;
      min-width: 0px;
    }

    .user-dashboard-prediction-nav{
      width:100%;
    }

    .prediction-game-index-show{
      width:100%;
      max-width:500px;
    }

    .dual-signup-panel-float{
      float:none;
      margin: 0 auto;
    }

    .content-panel-wrap{
      padding:20px;
    }

    .content-panel h1{
      font-size: 24px;
    }

    .premium-content-float{
      width: 47%;
    }

    .intro-container h1{
      font-size:50px;
    }

}

@media only screen and (max-width: 960px) {
    .user-dashboard-card{
      display:none;
    }

    .container{
      min-width:0px;
    }

    .recent-nav, .upcoming-nav, .top-nav, .prediction-nav{
      font-size: 20px;
    }

    .game-nav{
      font-size: 20px;
    }

    .predictor-nav{
      font-size: 20px;
    }

    .watching-nav{
      font-size: 20px;
    }

    .subscription-nav{
      font-size: 20px;
    }

    .expert-types {
      
    }

    .expert-types-container{
      
    }

    .user-dashboard-wrap{
      width: 100%;
      max-width:500px;
    }

    .user-dashboard-container{
      width: 100%;
      max-width:500px;
    }

    .user-dashboard-predictions{
      width: 100%;
      max-width:530px;
      min-width:0px;
      padding: 0px 15px;
    }

    .user-dashboard-prediction-nav{
      width:100%;
    }

    .prediction-game-index-show{
      width:100%;
      max-width:500px;
    }

    .dual-signup-panel-float{
      float:none;
      margin: 0 auto;
    }

    .content-panel h1{
      font-size: 24px;
    }

    .premium-content-float{
      width: 47%;
   
    }

    .intro-container h1{
      font-size:50px;
    }

}

@media only screen and (max-device-width: 600px) {

    .content-wrap{
      padding:30px 0px;
    }

    .premium-content-float{
      width: 100%;
   
    }

    .main-content{
      width:100%;
      min-width:1px;
    }

    .side-panel-content{
      display:none;
    }

    .side-panel-content.article{
      width:100%;
      display:block;
    }

}


@media only screen and (max-width: 600px) {

    .content-wrap{
      padding:30px 0px;
    }

    .premium-content-float{
      width: 100%;
    }

    .main-content{
      width:100%;
      min-width:1px;
    }

    .side-panel-content{
      display:none;
    }

    .side-panel-content.article{
      width:100%;
      display:block;
    }

  }
  

