// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-title-header{
  border-top: 3px solid #E0E0E0;
  margin-top:50px;
  font-size:20px;
  overflow: hidden;
}

.article-title-header h3{
  font-size:20px;
  float:left;
  line-height: 20px;
  margin-bottom: 30px;
}

.article-title-header h5{
  float:right;
}

.article-field{
	width:1100px;
	background-color:white;
	margin-left:auto;
	margin-right:auto;
}

.article-title-text{
	width:400px;
}

.article-index-dashboard{
	width:100%;
	overflow:hidden;
}

.article-summary{
	padding:10px;
	overflow: hidden;
	border: 2px solid #E0E0E0;
	width:180px;
	float:left;
	margin-right:10px;
	cursor:pointer;
}

.article-summary:hover{
	background-color: #F2FCFC;
  	border: 2px solid #fd5a25;
}

.article-summary h3{
	font-size:16px;
	line-height:16px;
}

.article-summary p{
	font-size:12px;
	margin:0px;
}

.article-detail{
	padding:15px;
	overflow: hidden;
	border: 2px solid #E3E3E3;
	margin:20px;
	cursor:pointer;
	box-shadow: 0 0px 15px rgba(0, 0, 0, 0.15);
}

.article-detail:hover{
	background-color: #F2FCFC;
  	border: 2px solid #fd5a25;
  	box-shadow: 0 0px 0px;
}

.article-detail h3{
	font-size:24px;
	line-height:24px;
}

.new-article-prediction-game{
  width:400px;
  margin-top:40px;
  margin-bottom:40px;
  background-color:white;
  border: 1px solid #BFBFBF;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.score-input{
	width:25px;
	text-align:center;
}

.article-top{
	border-bottom: 3px solid #BFBFBF;
	padding-bottom:30px;
	overflow:hidden;
	display:block;
}

.article-show-title{
	padding-left:10px;

}

.article-show-detail{
	float:left;
}

.article-show-detail h3{
	margin:0px;
	line-height:30px;
}

.article-show-sub-detail{
	padding-left:10px;
	float:left;
	font-size:12px;
}

.article-show-body{
	float:left;
	width:100%;
	padding:20px 80px 20px 80px;
}
