// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.show-game-header{
	width:400px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid #E0E0E0;
	border-radius:4px;
	
}

.game-header-date {
	padding: 5px;
	border-bottom: 1px solid #E0E0E0;
	font-size:20px;
	background-color: #E0E0E0;
}

.game-header-body {
	padding: 5px;
	height:75px;
	
}

.game-header-body-teams{
	height:50px;
	font-size:18px;
	margin-left:auto;
	margin-right:auto;
}

.game-header-body-venue{
	height:20px;
	margin-left:auto;
	margin-right:auto;
}

.game-table-holder{
  width:1160px;
  margin-left:auto;
  margin-right:auto;
  margin-top:60px;
  margin-bottom:50px;
  border-radius:2px;
  background-color:white;
  padding:20px;
  border: 1px solid #BFBFBF;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

.game-table-holder h1{
	padding-left:30px;
	color:black;
}

.game-show-table{
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	margin-bottom:30px;
	width:800px;
}

.game-show-table-row{
	background-color:white;
	white-space: nowrap;
}

.game-show-table th{
	padding:10px;
	width:150px;
	background-color:#159BF2;
	color:white;
}

.game-show-table td{
	padding-left:10px;
	padding-right:10px;
	text-align:center;
}

.game-show-table-label{
	font-size:24px;
}

.game-show-table-subhead{
	font-size:16px;
}

th.game-row{
	width:180px;
	text-align:center;
}

.league-header{
	font-size:20px;
}

.game-table{
	padding:30px;
}

.game-index-table-header{
	border-bottom: 1px solid #ddd;
}

.game-table-index-wrapper{
	padding:30px;
	border: 1px solid #ddd;
	background-color:white;
}

.game-index-table-row{
	border: 1px solid #E0E0E0;
  	margin-top:-1px;
}

.game-index-table-row-no{
	border: 1px solid #E0E0E0;
  	margin-top:-1px;
}

.game-index-table-row:hover{
	background-color: #E0E0E0;
  	cursor:pointer;
}

.game-index-table-row td{
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}

.game-index-table-row-no td{
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}

th.game-index-fold-th{
  width:200px;
  font-size:14px;
  padding: 7px 10px;
  color:#4C4C4C;
  text-align: center;

}

td.no-active-games{
	font-size:30px;
	text-align:center;
}

.game-cover{
	width:850px;
	margin-left:AUTO;
	margin-right:auto;
	background-color: #f6f6f6;
	text-align:center;
	border:2px solid #333;
	padding:20px;
}

.game-cover h3{
	color:#333333;
}

.game-cover h5{
	color:#333333;
}

.game-cover a{
	color:#333333;
}

.game-cover-container{
	
}
  