// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-container{
	top:-5px;
  padding-top:32px;
	height:90px;
  color:white;
}

.header-container2{
  top:0px;
  padding-top:32px;
  height:55px;
  color:white;
  background-color: #0D0005;
}

.header-inside{
	width:1000px;
	position:relative;
	margin-left:auto;
    margin-right:auto;
    height:40px;

}

.header-inside a{
	text-decoration:none;
}

.header-inside-left{
	position:absolute;
	width:300px;
	height:20px;
	left: 0px;
	display:table;

	}

  .header-inside-left a{
    line-height:20px;
    margin:0px;
    font-size:30px
  }

  .header-inside-left a:visited{
    color:white;
    text-decoration:none;
  }

.header-inside-right{
	position:absolute;
	width:450px;
	height:22px;
	right: 0px;
	display:table;
  text-align:right;
  vertical-align:middle;
}

.header-inside-right a{
	padding: 8px 10px;
	font-size: 16px;
	color:white;
	text-align:center;
	position:relative;
	text-decoration:none;
	font-weight: bold;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

	/* background-color:#00C100;
  margin-left:15px; */
	border-radius:2.4px;
}

.header-inside-right2{
  position:absolute;
  width:450px;
  height:22px;
  right: 0px;
  display:table;
  text-align:right;
  vertical-align:middle;

}

.header-inside-right2 a{
  padding: 8px 10px;
  font-size: 16px;
  color:white;
  text-align:center;
  position:relative;
  text-decoration:none;
  font-weight: bold;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

  /* background-color:#00C100;
  margin-left:15px; */
  border-radius:2.4px;
  
}


  .header-sub-right{
    margin-right:50px;
    position:relative;
    width:300px;
    display:block;
  }

  .image-header{
    padding:4px;
  }


a.request_button{
  padding: 5px 5px 5px 5px;
  text-decoration:none;
  background-color:#00C100;
  font-size: 18px;
  color:white;
  border-radius:2.4px;
  text-align:center;
  position:relative;

}

a.request_button:hover{
	background-color:#00AB00;
}


.header-below{
	width:1000px;
	position:relative;
	margin-left:auto;
    margin-right:auto;
    height:40px;

}

.header-below a{

	padding: 5px 5px 5px 5px;
  font-size: 18px;
  color:black;
  text-align:center;
  position:relative;
   text-decoration:none;
   font-family: "RobotoMedium";
   font-weight: normal;
	
}

.header-below a:hover{
  background-color:#13BD64;
	
}

.header-inside-right a:hover{
    color: #1fbad6;;
}

.header-inside-right2 a:hover{
    color: #1fbad6;;
}

.badge{
  background-color:#45AD02;
}

.intro{
  top:0px;
  background-color: black;
  height:800px;
  width:100%;
  background-image: url("https://s3.amazonaws.com/projectonyx/footer_lodyas.png");
  position:absolute;
}

.home-wrap{
	width:100%;
}

.home-wrap p{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  font-size:18px;

}

.home-content{
	width:1000px;
	position:relative;
	margin-left:auto;
    margin-right:auto;
    padding-top:25px;
    color:white;
}

.home-content h1{
  text-transform: uppercase;
  letter-spacing: 0.1em;

  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:36px;
  text-decoration: none;
}


.home-content h4{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:20px;
  text-decoration: none;
}

.side-bar{
  left:0px;
  width:200px;
  height:600px;
  display:block;
}

.hero-wrap{
	text-align:center;
}

a.hero_cta{
  padding: 10px;
  line-height:20px;
  text-decoration:none;
  background-color:#13BD63;
  font-size: 18px;
  color:white;
  border-radius:2.4px;
  text-align:center;
  position:relative;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border-right: 2px solid rgba(0,0,0,.2);
  border-bottom: 2px solid rgba(0,0,0,.2);
}

a.hero_cta:hover{
  background-color:#10A254;
}

a.subscribe_cta{
  padding: 10px;
  line-height:20px;
  text-decoration:none;
  background-color:#2b9af3;
  font-size: 18px;
  color:white;
  border-radius:2.4px;
  text-align:center;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border-right: 2px solid rgba(0,0,0,.2);
  border-bottom: 2px solid rgba(0,0,0,.2);
}

a.subscribe_cta:hover{
  background-color:#13446B;
}

a.make_prediction_cta{
  padding: 3px;
  text-decoration:none;
  background-color:#911BFF;
  font-size: 16px;
  color:white;
  border-radius:1px;
  text-align:center;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border-right: 1px solid rgba(0,0,0,.2);
  border-bottom: 1px solid rgba(0,0,0,.2);
  
}

a.make_prediction_cta:hover{
  background-color:#5C00B2;
}

a.become-predictor {
  padding: 5px;
  background-color:#CA7615;
  border-radius:4px;
  border-bottom: 2px solid rgba(0,0,0,.2);
  color:white;
}

a.become-predictor:hover {
  background-color:#CA7615;
}

h2{
	font-family: "RobotoMedium";
	font-weight: normal;
}

.signup-content{

	width:1000px;
	position:relative;
	margin-left:auto;
    margin-right:auto;
    margin-top:100px;
}

.console-container{

  background-color: #F8F8F8;
  padding-top:40px;
  padding-bottom:40px;
}

.signup-container{
	width: 400px;
	position:relative;
	margin-left:auto;
  margin-right:auto;
	border: 1px solid #F0F0F0;
	border-radius: 1px;
	box-shadow: 0px 0px 1px #040307;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #3e4552;
  background-color:white;
	}

  .signup-container h2{  
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight:normal;
    color: #3e4552;

  }

  .signup-form{
    padding: 18px;

  }

  .signup-submit{
    background-color: #13BD63;
    width:350px;
    height:36px;
    color:white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border: none;
    border-shadow: 10px 10px 5px #888888;
    margin-top:15px;
  }

  .signup-submit:hover{
    background-color: #10A254;
  }

.signup-text{
  width:350px;
  height:26px;
  font-size:16px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #3e4552;
  border: 1px solid #B8B8B8;
  text-indent:10px;
  margin-bottom:10px;
}

.signup-extras{
  position:relative;
  width:400px;
  padding-top:20px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #3e4552;
  font-size: 14px;
  z-index:10;
}


.signin-container{
  width: 400px;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  top:50px;
  height:330px;
  border: 1px solid #F0F0F0;
  border-radius: 1px;
  box-shadow: 0px 0px 1px #040307;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #3e4552;
  background-color:white;
  }

  .signin-container h2{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight:normal;
    color: #3e4552;

  }

  .signin-form{
    padding: 20px;
  }

  .signin-submit{
    background-color: #13BD63;
    width:350px;
    height:36px;
    color:white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border: none;
    border-shadow: 10px 10px 5px #888888;
    margin-top:20px;
  }

  .signin-submit:hover{
    background-color: #10A254;
  }

.signin-text{
  width:350px;
  height:26px;
  font-size:16px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #3e4552;
  border: 1px solid #B8B8B8;
  margin-bottom:10px;
  text-indent:10px;
}

.signin-extras{
  width: 400px;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  padding-top:60px;
  text-align:center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #3e4552;
  font-size: 14px;
}

.signupb-btn{
	margin-left:auto;
    margin-right:auto;
    position:relative;
}

.signin-text-extra{
  text-decoration:none;
  border:none;
  font-weight:bold;
}

.signin-text-extra a:visited{
  text-decoration:none;
  border:none;
  font-weight:bold;
}

.extra-text{
  text-decoration:none;
  font-weight:bold;
  color: #3e4552;
}

.container-dash{
	min-height:500px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
}

.table-holder{
  width:50px;  
}

.prediction-section-header{
  margin-left:auto;
  margin-right:auto;
  width:700px;
  text-align:center;  
  padding-bottom:10px;
  margin-bottom:30px;
  border-bottom: 1px solid #efefef;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.prediction-section-header a{
  font-size:24px; 
  border-bottom-color: #e47911;
  padding-left:10px;
}

.prediction-section-header a:visited{
  font-size:24px; 
  padding-left:10px;
  text-decoration:none;
}

prediction-header-inactive a{
  text-decoration:none;
}

prediction-header-inactive{
  text-decoration:none;
}

a.prediction-header-inactive{
  padding: 5px 5px 5px 5px;
  line-height:20px;
  text-decoration:none;
  background-color:#8E28C8;
  font-size: 17px;
  color:white;
  border-radius:2.4px;
  text-align:center;
  position:relative;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a.prediction-header-inactive:hover{
  background-color:#661D90;
}

prediction-header-active a{
  text-decoration:none;
}

prediction-header-active{
  text-decoration:none;
}

a.prediction-header-active{
  padding: 5px 5px 5px 5px;
  line-height:20px;
  text-decoration:none;
  background-color:#3932BA;
  font-size: 17px;
  color:white;
  border-radius:2.4px;
  text-align:center;
  position:relative;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  right:50px;
}

.prediction-section-header li{
  
}



.prediction-holder{
  width:608px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  margin-bottom:20px;
  padding:10px;

  border: 1px solid;
  border-color:#B8B8B8;
  border-radius:2.4px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.prediction-table-holder{
  width:900px;
  margin-left:auto;
  margin-right:auto;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.prediction-index-table-holder{
  margin-left:auto;
  margin-right:auto;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.prediction-header{
  margin-left:auto;
  margin-right:auto;
  background-color: #E6E6E6;
  font-size:14px;
  margin-bottom:10px;
}

.prediction-header th{
  width:150px;
}

.prediction-header td{
  text-align:center;
}

a.prediction-detail{
  padding: 5px 5px 5px 5px;
  line-height:20px;
  text-decoration:none;
  background-color:#8E28C8;
  font-size: 17px;
  color:white;
  border-radius:2.4px;
  text-align:center;
  position:relative;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  top:-10px;
}

a.prediction-detail:hover{
  background-color:#661D90;
}

.prediction-index-body{
  font-size:14px;
  width:608px;

  padding-bottom:10px;
}

.prediction-index-body th{
  width:121px;
}

.prediction-index-body td{
  text-align:center;
}

.prediction-index-body p{
  margin-top:5px;
  margin-bottom:5px;
  font-size:18px;
  line-height:60px;
  text-align:center;
}

.prediction-index-body a{
  margin-top:5px;
  margin-bottom:5px;
  font-size:18px;
  line-height:60px;
  text-align:center;
}

.prediction-index-fold{
  border-collapse: collapse;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border: 1px solid #dddddd;
  background-color:white;
}

tr.prediction-table-row:hover{
  background-color: #E0E0E0;
  cursor:pointer;
}

th.prediction-index-fold-th{
  width:150px;
  font-size:14px;
  padding: 7px 10px;
  background-color:#333333;
  color:white;
  text-align: center;

}

th.prediction-index-summary-th{
  width:150px;
  font-size:18px;
  padding: 7px 10px;
  color:#4C4C4C;
  text-align: center;

}

.prediction-index-fold td{
  text-align:center;
  padding: 18px 10px;
  width:150px;
}


.prediction-index-fold tr{
  padding-bottom:8px;
}

.prediction-index-summary{
  border-collapse: collapse;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  width:600px;
  border-radius:3px;
  margin-left:auto;
  margin-right:auto;
}

.prediction-index-summary-th{
  width:150px;
  font-size:18px;
  padding: 7px 10px;
  color:#4C4C4C;
  text-align: center;

}

.prediction-index-summary td{
  text-align:center;
  font-size:16px;
  color:#5A5A5A;
  width:150px;
}


.prediction-index-summary tr{
  padding-bottom:8px;
  row-height:60px; 
}

.prediction-table-row{
  font-size:14px;
  border: 1px solid #E0E0E0;
}

table.prediction-index-fold{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-left:auto;
  margin-right:auto;
  width:860px;
}

table.prediction-summary-index{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

th.prediction-summary-index{
  color:red;
}

.prediction-summary-table-row{
  font-size:14px;
}

.prediction-holder table{
  margin-left:auto;
  margin-right:auto;
}

.content-wrap{
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  color: #3e4552;
}

.content-wrap-outline{
  padding-left:40px;
  padding-right:40px;
}

.predictor-container{
   word-wrap: break-word;
}

.predictor-card-short{
  float:left;  
  position:relative;
  padding:10px;
  background-color:white;
  margin: 20px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius:3px;
}

.predictor-container-short{
   word-wrap: break-word;
   width:200px
}

.predictor-prediction-index{
  width:700px;
  float:left; 
  padding:20px;
  margin-bottom:80px;

}

.sports-game-select-container{
  width:1200px;
  margin-left:auto;
  margin-right:auto;
}

.predictor-image{
  margin-left:auto;
  margin-right:auto;
  width:196px;
  height:196px;
  border-radius:3px;
  
}

.predictor-image-small{
  margin-left:auto;
  margin-right:auto;
  width:70px;
  height:70px;
  border-radius:35px;
  float:left;
  
}

.predictor-image-tiny{
  margin-left:auto;
  margin-right:auto;
  width:40px;
  height:40px;
  border-radius:20px;
  float:left;
  
}

predictor-image-small-container{
  border-color: white;
  float:left;
}

.predictor-prediction-index-container{
  border-radius:3px;
  width:700px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:60px;
}

.presentation-descriptor{
  padding:8px;
}

.prediction-index-header-text{
  text-align:center;
  margin-top:25px;
  margin-bottom:25px; 
  font-size:30px;
}

.footer-wrap{
  
  height:250px;
  background-color: #333333;
  position:relative;
  bottom:0px;
  width:100%;
  }

  .footer-container{
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  color:white;
  height:80px;
  }


  .footer-wrap{
  
  height:250px;
  background-color: #333333;
  position:relative;
  bottom:0px;
  width:100%;
  }

  .footer-container{
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  color:white;
  height:80px;
  }

  .footer-container a{

    color:white;
  }

  .footer-container a:visited{

    color:white;
  }

  .footer-container a:hover{
    color:grey;
    text-decoration:none;
  }


  .footer-link{

    font-size: 16px;
    display: inline-block;
    margin: 40px 20px;
    text-decoration:none;
  }

.footer-extras{

  width:1100px;
  margin-left:auto;
  margin-right:auto;
  color:white;
  height:170px;
  font-family: 'Cutive', Georgia, Times, serif;
}

ul#footer{
  list-style-type: none;
  font-size:12px;
  text-decoration:bold;
  display:inline-block;
  float:left;
}

ul#footer a:visited{
  color:white;
}

.footer-extras a{

  color:white;
  
}

.footer-extras a:hover{
  color:grey;
  text-decoration:none;
}

  .listings{
  width:350px;
  padding:40px;
  display:block;
  float:left;
  }

  .locations{
    width:550px;
    padding:40px;
    display:inline-block;
    float:left;
  }

  .typeselect-cta{
  height:100px;
  vertical-align:middle;
  width:250px;
  text-align:center;
}

.watchlist-nav{
  margin-left:auto;
  margin-right:auto;
}



.typeselect-cta a{
  padding: 5px 5px 5px 5px;
  text-decoration:none;
  background-color:#BD13AE;
  font-size: 18px;
  color:white;
  border-radius:2.4px;
  text-align:center;
  position:relative;
  
}

.typeselect-cta a:hover{
  background-color:#ccc;
}

a.header-category{
  font-size:16px;
  line-height:30px;
}

.content-title-header{
  border-top: 3px solid #E0E0E0;
  margin-top:35px;
  font-size:20px;
  overflow: hidden;
}

.content-title-header h3{
  font-size:20px;
  float:left;
  line-height: 20px;
  margin-bottom: 20px;
}

.content-title-header h5{
  float:right;
  font-size:18px;
  margin-bottom: 20px;
}