// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-container{
	top:0px;
	height:90px;
}

.header-inside{
	width:1000px;
	position:relative;
	margin-left:auto;
    margin-right:auto;
    height:40px;

}

.header-inside a{
	text-decoration:none;
}

.header-inside-left{
	position:absolute;
	width:300px;
	height:30px;
	left: 0px;
	display:table;

	}


.header-inside-right{
	position:absolute;
	width:450px;
	height:30px;
	right: 0px;
	display:table;

}

.header-inside-right a{
	padding: 5px 5px 5px 5px;
	font-size: 18px;
	color:white;
	text-align:center;
	position:relative;
	text-decoration:none;
	font-family: "RobotoMedium";
	font-weight: normal;

	background-color:#00C100;
	border-radius:2.4px;
	margin-left:15px;
}

.header-inside-right a:hover{

	background-color:#008700;

	}



a.request_button{
  padding: 5px 5px 5px 5px;
  text-decoration:none;
  background-color:#00C100;
  font-size: 18px;
  color:white;
  border-radius:2.4px;
  text-align:center;
  position:relative;

}

a.request_button:hover{
	
	background-color:#00AB00;
}


.header-below{
	width:1000px;
	position:relative;
	margin-left:auto;
    margin-right:auto;
    height:40px;

}

.header-below a{

	padding: 5px 5px 5px 5px;
  font-size: 18px;
  color:black;
  text-align:center;
  position:relative;
   text-decoration:none;
   font-family: "RobotoMedium";
   font-weight: normal;
	
}

.header-below a:hover{
  background-color:#eee;
	
}

.home-wrap{
	width:100%;
}

.home-content{
	width:1000px;
	position:relative;
	margin-left:auto;
    margin-right:auto;
    padding-top:25px;
	
}

.hero-wrap{
	text-align:center;
}

a.hero_cta{
  padding: 5px 5px 5px 5px;
  text-decoration:none;
  background-color:#00C100;
  font-size: 18px;
  color:white;
  border-radius:2.4px;
  text-align:center;
  position:relative;

}

h2{
	font-family: "RobotoMedium";
	font-weight: normal;
}

.signup-content{

	width:1000px;
	position:relative;
	margin-left:auto;
    margin-right:auto;
    margin-top:100px;


}

.signup-container{
	
	width: 400px;

	position:relative;
	margin-left:auto;
    margin-right:auto;

	height:400px;
	color: black;
	border: 1px solid #373553;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #040307;

	background-image: -moz-linear-gradient(center top , #2C263F 0px, rgba(44, 38, 63, 0.4) 100%);
}

.signup-container h2{

	padding: 20px 30px 10px;
	
}

.signup-container div{

	padding: 20px 30px 10px;
	
}

.signupb-btn{
	margin-left:auto;
    margin-right:auto;
    position:relative;
}



.container{
	min-height:300px;
}

.footer-wrap{
  
  height:250px;
  background-color: #333333;
  position:relative;
  bottom:0px;
  width:100%;
  }

  .footer-container{
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  color:white;
  height:80px;
  }


    .footer-wrap{
  
  height:250px;
  background-color: #333333;
  position:relative;
  bottom:0px;
  width:100%;
  }

  .footer-container{
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  color:white;
  height:80px;
  }

  .footer-container a{

    color:white;
  }

  .footer-container a:visited{

    color:white;
  }

  .footer-container a:hover{

    color:grey;
    text-decoration:none;

  }


  .footer-link{

    font-size: 16px;
    display: inline-block;
    margin: 40px 20px;
    text-decoration:none;
  }

.footer-extras{

  width:1100px;
  margin-left:auto;
  margin-right:auto;
  
  color:white;

  height:170px;



  width:1100px;
  
  font-family: 'Cutive', Georgia, Times, serif;
  
}

ul#footer{
  list-style-type: none;
  font-size:12px;
  text-decoration:bold;
  display:inline-block;
  float:left;
}

ul#footer a:visited{
  color:white;
}

.footer-extras a{

  color:white;
  
}

.footer-extras a:hover{

  color:grey;
  text-decoration:none;
  
}

  .listings{
  width:350px;
  padding:40px;
  display:block;
  float:left;
  }

  .locations{
    width:550px;
    padding:40px;
    display:inline-block;
    float:left;
  }