// Place all the styles related to the prediction_games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.buy_prediction_cta{
  padding: 10px;
  line-height:20px;
  text-decoration:none;
  background-color:#0BB9CA;
  font-size: 18px;
  color:white;
  border-radius:2.4px;
  text-align:center;
  position:relative;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border-bottom: 2px solid rgba(0,0,0,.2);
}

a.buy_prediction_cta:hover{
  background-color:#0A9AA8;
  cursor:pointer;
}

a.prediction_purchased{
  padding: 10px;
  line-height:20px;
  text-decoration:none;
  background-color:#0CD43E;
  font-size: 18px;
  color:white;
  border-radius:2.4px;
  text-align:center;
  position:relative;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a.final_score_pending{
  padding: 5px;
  line-height:20px;
  text-decoration:none;
  background-color:#FFE02B;
  font-size: 14px;
  color:grey;
  font-weight:bold;
  border-radius:2.4px;
  text-align:center;
  position:relative;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.prediction-index-body table{
  padding:5px;
}

.predictor-sub-head{
  width:100%;
  height:200px;
  background-color:#1472BD;
}

.predictor-summary-container{
  width:100%;
  height:60px;
  background-color:white;
  border-bottom: 1px solid #e1e8ed;
  box-shadow: 0px 2px 5px #888888;
}

.predictor-summary-head{
  width:1100px;
  margin-left:auto;
  margin-right:auto;

}

.summary-head-container{
  width:1000px;
  margin-left:auto;
  margin-right:auto;
}

.summary-head-container-left{
  width:200px;
  margin-left:20px;
  margin-right:20px;
  float:left;
  height:60px;
}

.summary-head-container-right{
  width:700px;
  float:left;
  height:60px;
  padding-left:20px;
}

.predictor-profile{
  width:100%;
  background-color:#ECF4F0;

}

.prediction-index-header{
  
}

.predictor-profile-container{
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
}

.predictor-image-container{
  padding:15px;
  border-radius:3px;
  background-color:white;
}

.rotate{
  writing-mode: tb-rl;
}

.predictor-name{
  font-size:20px;
  text-decoration:none;
  color:white;
}

.predictor-name:hover{
  text-decoration:none;
  color:grey;
}

.predictor-card-name{
  font-size:20px;
  text-decoration:none;
  color:#333;
}

.predictor-card-name:hover{
  font-size:20px;
  text-decoration:none;
  color:red;
}

.prediction-game-show-container{
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  padding:40px;
  margin-top:50px;
  margin-bottom:50px;
  height:300px;
  background-color:white;
  border: 1px solid #BFBFBF;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.predictor-card-float{
  float:left;
}

.predictor-card-float{
  float:left;
  width:300px;
}

.prediction-game-info-float{
  float: left;
}

.new-prediction-game{
  width:400px;
  margin-left:auto;
  margin-right:auto;
  background-color:white;
  padding-bottom: 25px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  border-radius: 2px;
}

.new-prediction-game-header{
  text-align:center;
  font-size:24px;
  padding:10px;
  background: linear-gradient(#eee, #ddd);
  text-shadow: 0 1px 0 #aaa, 0 0 0 #aaa;

}

input#prediction_game_teamh_score{
  width:50px;
  margin:0px;
  text-align:center;
}

input#prediction_game_teama_score{
  width:50px;
  margin:0px;
  text-align:center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input#prediction_game_cost{
  width:100px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

.prediction-game-form-container{

  margin-top:50px;
  
}

.prediction-game-form{
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  margin-bottom:20px;
  text-align:center;
  
}

.prediction-game-form th{
  width:100px;
  text-align:center;
}

.prediction-game-form td{
  text-align:center;
}

new-prediction-game-price{
  text-align:center;
}

input.submit-prediction-game{
  width:300px;
  background-color:#2b9af3;
  color:white;
  font-size:16px;
  font-weight:bold;
  border:none;
}

input.submit-prediction-game:hover{
  background-color:#2585D1;
}

th.table-main-color{
  background-color:#2F1170;
  font-size:24px;
}

th.table-clear{
  background-color:transparent;
  color:black;
}

th.table-green{
  background-color:#2ECF52;
  text-align:center;
}

th.table-blue{
  background-color:#609BFF;
  text-align:center;
}

th.table-green-lite{
  background-color:#58D173;
  text-align:center;
}

td.table-green-liter{
  background-color:#9FD1A6;
  text-align:center;
}

th.table-blue-lite{
  background-color:#A1C4FF;
  text-align:center;
}

td.table-blue-liter{
  background-color:#C9DCFF;
  text-align:center;
}

td.game-row{
  color:#333;
  font-size: 16px;
  font-weight: bold;
  text-align:right;
  background-color: white;
  text-align:center;
}

th.left-outline{
  border-left: 1px solid #828282;
  text-align:center;
}

th.right-outline{
  border-right: 2px solid white;
  text-align:center;
}

td.right-outline{
  border-right: 2px solid white;
  text-align:center;
}

td.results-pending{
  color: #F06B22;
  font-size:20px;
  margin:0px;
  }

tr.game-show-table-subhead-detail{
  border-bottom: 2px solid white;
  text-align:center;
}

tr.game-show-table-row.home{
  
  
}

.game-show-table-row.home td{
  padding:10px;
  font-weight:bold;
  font-size:20px;
}

tr.game-show-table-row.away{
  
}

.game-show-table-row.away td{
  padding:10px;
  font-weight:bold;
  font-size:20px;
}

.prediction-game-new{
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
  margin-bottom:50px;

  width:970px;
  padding:15px;
  background-color:white;
  border: 1px solid #ddd;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  
}

a.game-details {
  padding: 5px 10px 5px 10px;
  background-color:#A39CBA;
  border-radius:4px;
  border-bottom: 2px solid rgba(0,0,0,.2);
  color:white;
  font-size:20px;
}

a.game-details:hover {
  background-color:#696478;
  text-decoration:none;
}

ul.game-details-drop{
  list-style-type: none;
  margin:0px;
}

.game-details-dropdown{
  padding:10px;
  margin-top:5px;
}

.pagination {
    text-align:center;
    font-size: 20px;
}

a.index-float{
  line-height:40px;
  margin-left:5px;
  margin-right:5px;
  color:inherit;
  text-decoration:none;
}

.onyx-rating h3{
  text-align:center;
  border: 2px solid #333;
  width:500px;
  margin-left:auto;
  margin-right:auto;
  background-color:#FFFF40;
}

.new-prediction-game-premium{
  text-align:center;
}

.new-prediction-game-reason{
  
  margin:20px 30px 15px 30px;
}

.prediction-game-reason-text{
  width:320px;
}

.prediction-game-index-show{
  padding:5px;
  background-color: #fff;
  text-align:center;
  width:530px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

}


table.prediction-game-index-show-table{
  width:240px;
  margin-left:auto;
  margin-right:auto;
}

.prediction-game-index-show-table-date{
  width:200px;
  background: linear-gradient(#eee, #ddd);
  text-shadow: 0 1px 0 #aaa, 0 0 0 #aaa;
  text-align:center;

}

.prediction-game-index-show-table-teams{
  border-bottom: 1px solid #ddd;
  padding:0px 5px;
  width:120px;
  text-align:left;
}

.last-child{
  border-left: 1px solid #ddd;
  text-align:right;
}

.pg-table-bottom{
  border-bottom: 1px solid #ddd;
}

.pg-important-data{
  font-size:20px;
  color: #333;
}