// Place all the styles related to the sports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sport-image-small{
	width:40px;
	height:40px;
}

.header-img{
	height:200px;
	width:900px;
	border: 1px solid #e0e4e8;
}

img.sport-image-tiny{
	width:40px;
	height:40px;
	margin-top:5px;
	margin-bottom:5px;
	
}

.horizontal-cover li{
	display:inline;
	font-size: 14px;
	padding:17px 0px;
	border-bottom: 3px solid transparent;
}


.horizontal-cover li:hover{
	cursor:pointer;
	border-bottom: 3px solid #00D43C;
}

.horizontal-cover li.subheader-league{
	color: #444;
    font-weight: bold;
    border-bottom:none;
}


li.horizontal-cover a{
	line-height:50px;
}

.horizontal-cover{
	max-width: 900px;
    margin: 0 auto;
    line-height: 4;
    padding: 0 50px;
}

a.subheader{
	color:#333;
	text-shadow:none;
	margin-left:5px;
	margin-right:5px;
	border-bottom: 3px solid transparent;
	webkit-transition: all 0.5s ease;
  	transition: all 0.5s ease;
  	padding: 20px 10px;
}

a.subheader:hover{
	text-decoration:none;
	color:#333;
	
}

a.subheader-league{
	color:#333;
	padding: 10px;
	border-right: 2px solid #bbb;
	
}

a.subheader-league:hover{
	text-decoration:none;
	cursor:pointer;
}

.horizontal-cover li.active{
	border-bottom: 3px solid #00D43C;
	color:#333;
}

.horizontal-cover li.active a.subsheader{
	color:#333;
}

