// Place all the styles related to the Topic_Copies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input.headline-input{
	width:600px;
	max-width:100%;
	height:90px;
}