<div class="category-header">

  <ul class="category-header-items">
    <li><a class="category-item" style="padding:10px;" href="<%= root_path %>">Sports</a></li>
    <li><a class="category-item" style="padding:10px;" href="<%= root_path %>">Economics</a></li>
    <li><a class="category-item" style="padding:10px;" href="<%= root_path %>">Finance</a></li>
    <li><a class="category-item" style="padding:10px;" href="<%= root_path %>">Fantasy Sports</a></li>

  </ul>

</div>




