<div class="category-header-container">

	<div class="category-header">

	  <ul class="category-header-items">

	      <li><a class="category-item" style="padding:10px; <% if @page=="home"%>color:#36c;<%end%>" href="<%= root_path %>"><%if predictor_signed_in?%>Home<%else%>Staff Picks<%end%></a></li>

	      <li><a class="category-item" style="padding:10px; <% if @page=="top_posts"%>color:#36c;<%end%>" href="<%= top_posts_path %>">Top Posts</a></li>

	      <li><a class="category-item" style="padding:10px; <% if @page=="bookmarks"%>color:#36c;<%end%>" href="<%if predictor_signed_in?%><%= bookmarks_path %><%else%><%= new_predictor_session_path%><%end%>">Bookmarks</a></li>

	  </ul>

	</div>

</div>