<div class="category-header-container">

	<div class="category-header">

	  <ul class="category-header-items">

	      <li><a class="category-item" style="padding:10px" href="<%= root_path %>">Top Articles</a></li>

	      <li><a class="category-item" style="padding:10px" href="<%= root_path %>">Recommended</a></li>

	      <li><a class="category-item" style="padding:10px" href="<%= root_path %>">Bookmarked</a></li>

	  </ul>

	</div>

</div>






