<div class="category-header">

  <ul class="category-header-items">

    <% @featured_tags.each do |tag| %>

      <li><a class="category-item" style="padding:10px" href="<%= tag_show_path(tag.url)%>"><%= tag.name %></a></li>

    <%end%>

  </ul>

</div>




