
<%# if predictor_signed_in? %>

  <% if not @action == 'home'%>
    <div class="content-header-container">
      <div class="content-header">
      	<% if @action == 'pages/leaguehome'%>
      		nba
      	<%end%>
        Hello
      </div>
    </div>

  <%end%>

<%#end%>




