
<div class="footer-wrap">

	<div class="footer-container">

			<%= link_to "Login (To Be Deleted)", new_admin_session_path %>
          	<%= link_to "Signup (To Be Deleted)", new_admin_registration_path %>

	</div>

</div>