<div class="footer-wrap">

	<div class="footer-container">

		<a href="/about/" class="footer-link">
          About us
        </a>

        <a href="/about/" class="footer-link">
          Blog
        </a>

        <a href="/about/" class="footer-link">
          Our team
        </a>

        <a href="/about/" class="footer-link">
          Terms
        </a>

        <a href="/about/" class="footer-link">
          Privacy
        </a>

        <a href="/about/" class="footer-link">
          Help/FAQ
        </a>

        <a href="/about/" class="footer-link">
          Contact us
        </a>

        <a href="/predictors/sign_in" class="footer-link">
        	Predictor Signin

        </a>

	</div>

	<div class="footer-extras">

		<div class = "listings">

			<ul id="footer">

				<li>

					<a href="/about/" class="footer-extra-link">
			          Home Guides
			        </a>

		    	</li>

		    	<li>

			        <div class="footer-extra-link">
			          <%= link_to "Admin Login", new_admin_session_path %>
			        </div>

		    	</li>

		    	<li>

			        <div class="footer-extra-link">
			          <%= link_to "Admin Create", new_admin_registration_path %>
			        </div>

		    	</li>

		    	<li>

			        <a href="/about/" class="footer-extra-link">
			          Genre Directory
			        </a>

		    	</li>

		    	<li>

		        	© 2014  Red Onyx LLC All Rights Reserved
		    	</li>
        	</ul>

		</div>

		<div class="locations">

			<ul id="footer">

				<li>

					<b>
			          Where we are
			        </b>

		    	</li>

		    	<li>

			        <a href="/about/" class="footer-extra-link">
			          Chicago
			        </a>

		    	</li>

        	</ul>

        	<ul id="footer">

				<li>

					<b>
			          Coming Soon to
			        </b>

		    	</li>

		    	<li>

			        <a href="/about/" class="footer-extra-link">
			          Austin
			        </a>

		    	</li>

		    	<li>

			        <a href="/about/" class="footer-extra-link">
			          Los Angeles
			        </a>

		    	</li>

		    	<li>

			        <a href="/about/" class="footer-extra-link">
			          New York
			        </a>

		    	</li>
		    	
        	</ul>


		</div>

	</div>

</div>