<div class="footer-float">

          &#169; Futable LLC

          <br>
          <a href="/about/">
            About us
          </a>

           &#183;

          <a href="/about/">
            Blog
          </a>

           &#183;

          <a href="/about/">
            Our team
          </a>

           &#183;

          <a href="/about/">
            Terms
          </a>

           &#183;

          <a href="/about/">
            Privacy
          </a>

           &#183;

          <a href="/about/">
            Help/FAQ
          </a>

           &#183;

          <a href="/about/">
            Contact us
          </a>

</div>




