<div class="header-container">

  <div class="header-inside">

    <div class="header-inside-left">

    Name, Logo, Stuff

  </div>

    <div class="header-inside-right">

      <%= link_to "Login", root_path %>
      <%= link_to "Signup", about_path %>

        <a href="/about" class="request_button"> Make Predictions </a>


    </div>

  </div>

  <div class="header-below">

      <a href="/about"> Make Predictions </a>
      <a href="/about"> Make Predictions </a>
      <a href="/about"> Make Predictions </a>
      <a href="/about"> Make Predictions </a>

  </div>



</div>