<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active">
    	<a href="/dashboard" data-toggle="tab">My Predictions</a>
    	
    </li>

    <li class>
    	<a href="/dashboard" data-toggle="tab">Quality Musicians</a>
    	
    </li>

    <li class>
    	<a href="/about" data-toggle="tab">SB Guarantee</a>
    	
    </li>

    <li class>
    	<a href="#dref" data-toggle="tab">Competitive Quotes</a>
    	
    </li>

    <li class>
    	<a href="#eref" data-toggle="tab">SB on Mobile</a>
    	
    </li>

    <li class>
    	<a href="#fref" data-toggle="tab">Customer Care</a>
    	
    </li>

</ul>


</div>